
/*공통*/
.ofh{overflow:hidden;}
.mEnter{display:block;}
.mb{margin-bottom:30px !important}
.bmb{margin-bottom:50px !important}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.tac{text-align:center;}
.tar{text-align:right;}
.tal{text-align:left;}
.fsb{font-size:1.2em}
.fsbb{font-size:1.4em; font-weight:600}



/*서브레이아웃틀*/
.wrap{min-width:950px; max-width:2000px; width:100%; margin:0 auto; position:relative; min-height:100vh}
.wrap:after{content:''; display:block; clear:both;}
.subcon{position:relative; overflow:hidden; min-width:1200px;}
.con{padding:30px 50px; width:calc(100% - 220px); min-height:950px; float:left;}
.leftcon{width:220px; background:#f7f9fa; height:100%; float:left;}
.leftcon:before{content:''; width:220px; bottom:0; top:0;  position:absolute; display:block; background:#ffffff; z-index:-1;}

.leftcon:after{content:''; width:1px; position:absolute; left:220px; top:0; bottom:0; display:block; background:#dcdcdc; z-index:-1}

.leftcon .footer{padding:20px 10px; font-size:0.8em; background:#ffffff}
.leftcon .footer p{color:#505050; margin-bottom:10px;}
.leftcon .footer p.copy{padding-top:10px; border-top:1px solid #dcdcdc}

.subcon .sub_h2,
.subcon .sub_h3{font-size:1.3em; font-weight:600; margin-bottom:30px; padding-bottom:10px; position:relative; border-bottom:1px solid #e6e6e6}
.subcon h3 span{display:inline-block; font-size:1.1rem; margin-left:10px; color:#808080; font-weight:400}

.tit_dot{padding-left:20px; background:url(../img/tit_dot.png) no-repeat left 5px; font-weight:600; font-size:1.35em; color:#000000; margin-bottom:10px; background-size:20px !important}

.path{display:block; margin-bottom:20px; position:absolute; right:50px; top:30px}
.path li{color:#808080; font-size:0.9em; display:inline-block;}
.path li:before{font-family: 'FontAwesome'; font-size:11px; display:inline-block; content:"\f105"; margin: 3px 7px 3px; vertical-align: middle;}
.path li:first-child:before{display:none;}



.dot_li{overflow:hidden; }
.dot_li li{background:url("../img/dot_li.gif") no-repeat 0px 10px; padding-left:8px; margin-bottom:3px;}
.dot_li li:last-child{margin-bottom:0}


/*타이틀*/
.tit_nm{font-size:1.2em; margin-bottom:20px;}





/*푸터*/
.banner_list{padding-top:30px; border-top:1px solid #dcdcdc; margin-top:80px}
.banner_list ul{overflow:hidden;}
.banner_list ul li{margin-right:20px; float:left;}
.banner_list ul li a{display:block; border:1px solid #f0f0f0; }
.banner_list ul li img{width:150px;}

#footer{padding:30px 0; font-size:0.9em; text-align:left; color:#808080}
#footer:after{content:''; display:block; clear:both}
#pageup {position:fixed; z-index:999; right:1%; bottom:5%; width:50px; height:50px; background-image:url('../img/Htop.png');background-repeat: no-repeat;  background-position:center center; background-size: 50px 50px; display:none; cursor:pointer; z-index:4000;}



/*페이지*/
.pageList{text-align:center; vertical-align:top; margin-bottom:20px; font-size:0px;}
.pageList a{display:inline-block;}
.pageList a:first-child, 
.pageList a:last-child{display:none;}
.pageList a img{height:30px;}
.pageList span{display:inline-block; vertical-align:top; font-size:11px;}
.pageList span.btn a{text-indent:-999999px; position:relative;}
.pageList span.btn a:before{font-family:'FontAwesome';	content:"\f100"; text-indent:0; position:absolute; display:block; width:100%; text-align:center; font-size:11px;}
.pageList span.btn_next a:before{content:'\f101';}
.pageList span a.on{background:#f5f5f5; color:#414141}
.pageList span a:hover{color:#414141}
.pageList span a{width:25px; line-height:30px; border:1px solid #dcdcdc; border-right:0px;}
.pageList span a:first-child, 
.pageList span a:last-child{display:inline-block}
.pageList span:last-child a{border-right:1px solid #dcdcdc}

@media all and (min-width:768px) {
.pageList{margin-bottom:30px;}
.pageList a:first-child, 
.pageList a:last-child{display:inline-block;}
}






/*공지사항*/
.notice{background:#ffffff; position:relative; border:1px solid #dcdcdc}
.notice .btn_clink{position:absolute; width:54px; height:54px; right:0; top:0; display:inline-block; border-left:1px solid #dcdcdc;  text-indent:-999999px}
.notice .btn_clink:before,
.notice .btn_clink:after{content:''; display:block; position:absolute; width:15px; height:1px; top:0; bottom:0; left:0; right:0; margin:auto; background:#808080; }
.notice .btn_clink:before{width:1px; height:15px;}

.notice ul.tabs {width:100%; border-bottom:1px solid #e6e6e6;}
.notice ul.tabs li{display:inline-block; padding:0 25px; line-height:50px; cursor:pointer; color:#969696; font-size:1.2em;}
.notice ul.tabs li:hover{color:#323232}
.notice ul.tabs li.current{border-top:2px solid #1e88e5; color:#323232; font-weight:600; border-bottom:1px solid #ffffff}
.notice .tabscontent {padding:20px 20px; ; display:none; width:100%; min-height:150px;}
.notice .tabscontent ul li{font-size:1.1em; margin-bottom:5px}

.notice .tabscontent2 {padding:20px 20px; ; /*display:none;*/width:100%; min-height:150px;}
.notice .tabscontent2 ul li{font-size:1.1em; margin-bottom:5px}


/*툴팁*/
.tooltiplayer{width:400px; background:#ffffff; display:none;}
.tooltiplayer.tooltip-big{width:1200px;}
.tooltiplayer h4{background:#1e88e5; padding:18px 15px; color:#ffffff; }
.tooltiplayer .toolbox{padding:20px 15px; border:1px solid #ddd; }


/*새창디자인*/
#popwindow{width:100%; max-width:1180px; background:#ffffff;}
#popwindow h1{background:#12358f; padding:18px 15px; color:#ffffff; font-size:1.2em}
#popwindow .contents{padding:20px 15px; }


/*박스*
.info{padding:20px 10px; background:#fafafa; border:1px dashed #dcdcdc}*/

/*메인*/
.main{ padding:50px 3%; width:calc(100% - 220px); float:left; min-height:800px; max-width:1200px}
.main:before{content:''; display:block; position:absolute; left:0; top:0; bottom:0; right:0; background:#f6f5fb url(../img/cw_mark.png) no-repeat right 50px; background-size:450px !important; height:100%; z-index:-2;  min-width:1200px}
.mwrap{margin:0 auto; width:100%;}
.mwrap .notice{width:48.335%; margin-right:3.33%; float:left;}
.mwrap .notice.mr0{margin-right:0}
.mwrap .quick_link{width:48.335%; float:left;}
.mwrap .quick_link ul li{width:46.67%; float:left;}
.mwrap .quick_link ul li:first-child{margin-right:6.66%}
.main_top h3{font-size:2.4em; margin-bottom:20px}
.main_top h3:before{width:40px; height:7px; content:''; background:#000000; margin-bottom:20px; display:block}
.main_top p{font-size:1.25em; margin-bottom:50px}

/*메인퀵링크*/
.quick_link{margin-bottom:40px;}
.quick_link ul{overflow:hidden;}
.quick_link ul li{background:#5c6680; position:relative; color:#ffffff;  height:206px; text-align:center; float:left; width:22.5%; margin-right:3.33%; font-size:1.25em; font-weight:600;  border-radius:10px;}
.quick_link ul li:last-child{margin-right:0;}
.quick_link ul li a{display:block;}
.quick_link ul li a:before{content:''; display:block; width:80px; height:80px; margin:0 auto; margin-top:40px; margin-bottom:15px; background-size:100% !important;  opacity:0.8}
.quick_link ul li.q1 a:before{background:url(../img/quick_01.png) no-repeat center center}
.quick_link ul li.q2 a:before{background:url(../img/quick_02.png) no-repeat center center}
.quick_link ul li.q3 a:before{background:url(../img/quick_03.png) no-repeat center center}
.quick_link ul li.q4 a:before{background:url(../img/quick_04.png) no-repeat center center}
.quick_link ul li.q5 a:before{background:url(../img/quick_05.png) no-repeat center center}
.quick_link ul li.q6 a:before{background:url(../img/quick_06.png) no-repeat center center}

.quick_link ul li.q1,
.quick_link ul li.q2{background:#2755c8; background:linear-gradient(45deg, #11858c 0%, #2755c8 100%);}
.quick_link ul li.q1 a:before,
.quick_link ul li.q2 a:before{opacity:1}

/**/
.halfcon{width:49%; float:left;}
.mr{margin-right:2%;}
.combox{
background:#ffffff;
/*-webkit-box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.1);
box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.1);*/
border:1px solid #dcdcdc
}


/*로그인*/
body.headernone{border-top:5px solid #005da4; background:#f6f5fb url(../img/cw_mark.png) no-repeat right top; background-size:450px !important;}
body.headernone .wrap{overflow:hidden;}
.loginWrap{max-width:800px; min-width:800px; background:#ffffff; margin: 150px auto; overflow:hidden; position:relative;}
.loginWrap{-webkit-box-shadow: 0px 0px 46px -17px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 46px -17px rgba(0,0,0,0.5);
box-shadow: 0px 0px 46px -17px rgba(0,0,0,0.5);}

.loginWrap .logobox{padding:50px; color:#ffffff; float:left; width:40%; height:100%;  position:absolute;}
.loginWrap .logobox:before{content:''; display:block; position:absolute; width:100%; height:100%; background:#2755c8; background:linear-gradient(45deg, #11858c 0%, #2755c8 100%);  left:0; top:0; 
/*-webkit-animation:bgchange 2s linear infinite alternate both;animation:bgchange 2s linear infinite alternate both*/}
@-webkit-keyframes .loginWrap .logobox:before{0%{background:#21366c}100%{background:#11358f}}@keyframes bgchange{0%{background:#21366c}100%{background:#11358f}}

.loginWrap .logobox h1{position:relative; width:200px; height:104px; text-align:center; top:50%; margin:0 auto; margin-top:-52px;}
.loginWrap .logobox h1 img{width:100%;}

.loginWrap .login{padding:80px 50px; float:left; margin-left:40%; width:60%; position:relative;}
.loginWrap .login h3{font-size:1.9em; margin-bottom:30px; padding-bottom:30px; position:relative;}
.loginWrap .login h3:before{content:''; position:absolute; display:block; bottom:0; left:0; width:30px; height:2px; background:#2755c8;}
.loginWrap .login h3:after{content:''; position:absolute; display:block; bottom:0; left:30px; width:20px; height:2px; background:#11358f;}

.bgchange{-webkit-animation:bgchange 2s linear infinite alternate both;animation:bgchange 2s linear infinite alternate both}
@-webkit-keyframes bgchange{0%{background:#21366c}100%{background:#11358f}}@keyframes bgchange{0%{background:#21366c}100%{background:#11358f}}

.login .input_txt{margin-bottom:20px}
.login .input_txt li{overflow:hidden; position:relative; margin-bottom:10px;}
.login .input_txt li:last-child{margin-bottom:0;}
.login .input_txt li label{width:25%; float:left; height:40px; line-height:40px; text-align:center; border:1px solid #dedede; border-right:0; font-weight:600; font-size:13px;}
.login .input_txt li input{height:40px; line-height:40px; padding:3px 10px; float:left; width:75%; font-size:13px;}

.login input.btn_sumit{height:40px; line-height:40px; font-size:15px; width:100%; margin-bottom:30px;}
.login p.rem{margin-bottom:50px; font-size:13px}
p.log_foot{text-align:center; font-size:0.9em; color:#c8c8c8}



/*인트로*/

.introWrap{max-width:1000px; min-width:800px; margin: 150px auto; overflow:hidden; position:relative;}
.introWrap .logobox{overflow:hidden; margin-bottom:50px; background:url(../img/changwon_txt.png) no-repeat center right;}
.introWrap .logobox h1{float:left; width:20%;}
.introWrap .logobox h1 img{width:100%;}
.introWrap .logobox p{float:left; width:74%; margin-left:6%; margin-top:10px; padding-left:50px; border-left:1px solid #dcdcdc; font-size:1.25em}
.intro ul{overflow:hidden;}
.intro ul li{background:#5c6680; position:relative; color:#ffffff;  height:250px; float:left; width:48.5%; margin-right:3%; font-size:1.25em; font-weight:600;  border-radius:10px;}
.intro ul li a{display:block; width:100%; height:100%; padding:50px 30px; font-size:1.6em; letter-spacing:-2px;}
.intro ul li a:before{width:70px; height:70px; background-size:100% !Important; content:'';  display:block; margin-bottom:10px;}
.intro ul li.into01{background:#2755c8; background:linear-gradient(45deg, #11858c 0%, #2755c8 100%);}
.intro ul li.into02{background:#00ad69; background:linear-gradient(45deg, #83c576 0%, #00ad69 100%); margin-right:0;}

.intro ul li.into01 a:before{background:url(../img/intro01.png) no-repeat center center}
.intro ul li.into02 a:before{background:url(../img/intro02.png) no-repeat center center}


/*라이트박스*/
.popinfo{background:#ffffff;}
.popinfo h1{background:#2450ce; color:#ffffff; font-size:1.2em; padding:15px; letter-spacing:-2px; position:relative}
.popinfo h1:after{content:''; width:100px; height:32px; background:url(../img/logo_w.png) no-repeat center center; background-size:100% !Important; opacity:0.3;  position:absolute; right:15px; top:0; bottom:0; margin:auto}

.popinfo .popcon{padding:20px 3%;}

@media only screen and (min-width: 768px) {
.popinfo h1{font-size:1.4em;}
.popinfo .popcon{padding:30px;}
}

@media only screen and (min-width: 1200px) {
.popinfo h1{padding:20px;}
.popinfo .popcon{padding:40px;}

}
