/*메뉴*/

#header .lnb{background:#505357; overflow:hidden;}
#header .lnb ul{overflow:hidden; float:right; margin: 0 auto;}
#header .lnb ul li {float:left;}
#header .lnb ul li a{display:block; width:100%;height:100%; float:left; line-height:40px; color:#ffffff; padding:0 15px; font-size:14px; text-transform:uppercase}
#header .lnb ul li.bg_child{background:#f3bd17; margin-left:7.5px;}

#header{width:100%; background-color:#fff;}
#header h1{left:20px; top:10px; z-index:2; float:left; width:220px;}/*동일 width*/
#header h1 img{padding:15px 0 0 20px; max-width:190px;}
#header .gnb{float: right; width: calc(100% - 220px); }/*동일 width*/

.headerwrap{background:#12358f}
.headerwrap:after{content:''; display:block; clear:both; }
#headerin{position:relative; max-width: 2000px; min-width:1200px; width: 100%; margin: 0 auto;}
.logo{margin-left:0;}
.logo a{width:75px; height:70px;}
.gnb{display:block;  z-index:3}
.gnb .menu{float:left;}
.gnb .menu .m{display:block; line-height: 80px; padding:0 13px;	font-size: 18px; color:#ffffff; min-width:80px; text-align:center;}
.gnb .menu:hover .m{display:block; position:relative; color:#ffffff}
.gnb .menu .m:before{content:''; display:none; position:absolute; width:80px; height:3px; background:#2755c8; /* background:#12358f; */bottom:0; left:0; right:0; margin:auto;}
.gnb .menu:hover .m:before{display:block}
.gnb .menu .sub{position:absolute; top: 80px; left:220px; right:0; margin:auto;  background:#1d2947; background:rgba(29,41,71,0.9); display:none; z-index:100; }
.gnb .menu:hover .sub{display:block;}
.gnb .menu .sub .subList{padding:0px 10px; left:0px;}/*동일 width*/
.gnb .menu .sub .subList:after{	content:""; display:block; clear:both;}
.gnb .menu .sub1{padding-left:30px}
.gnb .menu .sub2{padding-left:120px}
.gnb .menu .sub3{padding-left:200px}
.gnb .menu .sub4{padding-left:300px}
.gnb .menu .sub5{padding-left:410px}
.gnb .menu .sub6{padding-left:560px}
.gnb .menu .sub7{padding-left:390px}

.gnb .last{float:right; line-height:80px; padding-right:20px; color:#ffffff; font-size:14px; vertical-align:middle;}
.gnb .last a{margin-right:15px;}
.gnb .last a:last-child{margin-right:0}
.gnb .last a.btn_gnb:before{content:''; display:inline-block; margin-right:5px; width:15px; height:15px; vertical-align:middle; background-size:100% !important}
.gnb .last a.gnb01:before{background:url(../img/btn_gnb01.png) no-repeat center center}
.gnb .last a.gnb02:before{background:url(../img/btn_gnb02.png) no-repeat center center}




@media all and (min-width:1400px) {
#header .gnb{padding-left:20px}
.gnb .last {padding-left:180px; background:url(../img/last_bg.png) no-repeat left center; background-size:160px !important; }
.gnb .menu .m{min-width:90px}
.gnb .menu .sub2{padding-left:120px}
.gnb .menu .sub3{padding-left:200px}
.gnb .menu .sub4{padding-left:300px}
.gnb .menu .sub5{padding-left:410px}
.gnb .menu .sub6{padding-left:560px}
.gnb .menu .sub7{padding-left:390px}

}

.gnb .menu .sub .subList{overflow:hidden; position:relative;}

/*.gnb .menu .sub .subList:before{position:absolute; content:''; width:100px; height:5px; background:#0f449b; margin-left:-50px; left:50%; top:0}*/
.gnb .menu .sub .subList .left{}
.gnb .menu .sub .subList .left h2{font-size:24px; color:#ffffff}
.gnb .menu .sub .subList .right{width:100%;overflow:hidden; }
.gnb .menu .sub .subList  li{display:inline-block; padding-right:20px; vertical-align:top; }
.gnb .menu .sub .subList  li:last-child{padding-right:0;}
.gnb .menu .sub .subList  li a{color:#ffffff; display:block;  line-height:55px; font-size:15px}
.gnb .menu .sub .subList  li a[target='_blank']:after {font-family: 'FontAwesome'; font-size:11px; display:inline-block; content:"\f08e"; margin: 0 0 0px 3px; vertical-align: middle;}
.gnb .menu .sub .subList  li a:hover{font-weight:600}



/*--left--*/
.login_info{position:relative}
.login_info{padding:25px 15px; text-align:center}
.login_info p{margin-bottom:5px}
.login_info .time{margin-bottom:20px; font-size:0.8em; color:#505050}
.login_info .tit{font-size:1.45em; font-weight:800; color:#000000}
.login_info .name{font-size:1.1em; color:#000000}
.btn_li li a{display:block; background:#5c6680; line-height:40px; color:#ffffff; border-radius:3px}
.btn_li li:last-child a{background:#2755c8}

.login_info .btn_li{margin-bottom:20px;}
.login_info .btn_li li{margin-bottom:5px; font-weight:600}
.login_info .btn_li li:last-child{margin-bottom:0px;}

.login_info .info_edit{font-size:0.9em; color:#808080}
.login_info .info_edit li{vertical-align:middle; display:inline-block}
.login_info .info_edit li a{display:inline-block; padding:0 10px; position:relative}
.login_info .info_edit li a:before{position:absolute; content:''; width:1px; height:10px; background:#dcdcdc; top:0; bottom:0; margin:auto; left:0;}
.login_info .info_edit li:first-child a:before{display:none}

#sidemenu h2{background: #21366c; line-height: 55px; text-indent:15px; color: #ffffff; font-size:1.25em; position:relative; }
#sidemenu .submenu{background-color: #fff; border-bottom:1px solid #dcdcdc}
/*#sidemenu .submenu > li:last-child{border-bottom: none;}*/
#sidemenu .submenu > li > a{display: block; width: 100%; height: 100%;}
#sidemenu .submenu > li {border-bottom:1px solid #dcdcdc}
#sidemenu .submenu > li:last-child{border-bottom:0}
#sidemenu .submenu > li > a[target='_blank']:after {font-family: 'FontAwesome'; font-size:11px; display:inline-block; content:"\f08e"; margin: 0 0 2px 5px; vertical-align: middle;}
#sidemenu .submenu .smenu{line-height: 45px; border-bottom: 1px solid #ddd; text-indent: 20px;}

#sidemenu .submenu .smenu > a:hover{color: #21366c}
#sidemenu .submenu .sub{display: none;  background: #f8f8f8; padding: 10px 0; border-top:1px solid #ddd;}
#sidemenu .submenu .on{display:block; color: #21366c; font-weight:600; border-left:3px solid #21366c}
#sidemenu .submenu .sub > li > a{display: block; font-weight:normal; color:#323232; font-size:0.9em; text-indent: 20px; line-height: 28px; background: url("../img/ic_dot.gif") no-repeat 20px center / 3px;} 
#sidemenu .submenu .sub.on  li.select a{color: #0660b0; font-weight:600; }
#sidemenu .submenu .sub > li > a:hover{color: #0660b0; ;}
#sidemenu .submenu .sub > li > a:on{color: #0660b0; font-weight: 600;}
#sidemenu .submenu .sub > li > a:active{color: #0660b0;  font-weight: 600;}
#sidemenu .msub{display:block; position: relative; background: url("../img/ico_acc_plus.gif") no-repeat 92% center / 10px;}
#sidemenu .msub.on{background: url("../img/ico_acc_minus.gif") no-repeat 185px center / 10px; color: #21366c; border-left:3px solid #21366c}

.pop_btn{position:relative;}
.pop_btn span{position:absolute; text-indent:-999999px; cursor:pointer;  right:0px; top:0; bottom:0; margin:auto; width:55px; height:55px; line-height:55px; text-align:center; display:block; border-left:1px solid #ffffff; border-color:rgba(255,255,255,0.2)}
.pop_btn span:before{text-indent:0; position:absolute; right:0; left:0; top:0; bottom:0; margin:auto; font-family: 'FontAwesome'; font-size:11px; display:inline-block; content:"\f078";}
.pop_btn span.close:before{content:"\f077";}