@charset "utf-8";
/*
	Contents CSS _ 15.05.27
*/


/*공통*/
.bgbox{background:#fafafa; padding:20px 3%;}
.pdbox{padding:30px 20px;}
.mEnter{display:block;}
.vab{vertical-align:bottom;}

.col-02{width:100%;}
.col-03{width:100%;}
.col-04{width:100%;}

.imgbox img{width:100%; max-width:530px;}
.w1400{max-width:1400px; margin: 0 auto;}
.w1000{max-width:1000px; margin: 0 auto;}
.w800{max-width:800px; margin: 0 auto;}

.perimg{text-align:center;}
.cb{clear:both;}

.content_table{width:100%; border-top:2px solid #6d6a60; border-collapse:collapse;}
.content_table th{padding:10px 5px}
.content_table th, .content_table td{border-bottom:1px solid #dcdcdc; padding:7px 3px; vertical-align:middle}
.content_table .bl, .content_table tr.bl td, .content_table tr.bl th{border-left:1px solid #dcdcdc}
/*.content_table tr.bl td:first-child, .content_table tr.bl th:first-child{border-left:0px;}*/
.content_table .bli{border-left:1px solid #dcdcdc !important}
.content_table th{font-weight:500; background:#f5f5f5; color:#323232; padding:12px 3px;}
.content_table .bgc{background:#fafafa; text-align:center}
.content_table tr.bgc th, .content_table tr.bgc td{ background:#fafafa}
.content_table .tal{text-align:left;}



.blackTxt{color:#000000}
.redTxt{color:#d10000 !important}
.blTxt{color:#1a42b2 !important}
.blgrTxt{color:#345468}

.point_txt{position:relative; font-family:'Montserrat', 'ns'; text-transform:uppercase; color:#323232; font-weight:bold;}
.pDot{padding-left:15px; position:relative}
.pDot:before{content:''; width:8px; height:8px;border-radius:50px; position:absolute; right:0; top:3px; background:#fbca4d}
.fsb{font-size:1.2em}
.bgGray{background:rgba(230,230,230,0.3);}
.bgbox{padding:20px 3%; background:rgba(230,230,230,0.3);}
.pdbox{padding:20px 3%}
/*.point_txt:before{content:''; width:8px; height:8px;border-radius:50px; position:absolute; right:0; bottom:0px; background:#fbca4d}
.point_txt:after{content:''; clear:both;}*/
/*.redDot{display:inline-block; position:relative; padding-right:15px}
.redDot:before{content:''; width:8px; height:8px;border-radius:50px; position:absolute; right:0; bottom:0px; background:#fbca4d}
.redDot:after{clear:both;}*/

.pointTxt{box-shadow:0 -0.7em 0 rgba(252,242,84,0.7) inset;}
.redTxt{color:#d10000}
.ppTxt{color:#1a0182}
.bdLine{border-bottom:1px solid #e6e6e6; padding-bottom:20px; margin-bottom:20px;}

.dot_li{overflow:hidden; }
.dot_li li{background:url("../img/dot_li.gif") no-repeat 0px 10px; padding-left:7px; margin-bottom:3px;}
.dot_li.w_dot li{background:url("../img/dot_w_li.gif") no-repeat 0px 10px; padding-left:7px; margin-bottom:3px;}
.dot_li li:last-child{margin-bottom:0px !important;}

.tit_nm{font-size:1.3em; font-weight:500; letter-spacing:-0.06em; color:#000000}
.tit_sm{font-size:1.1em; font-weight:500; letter-spacing:-0.06em; color:#000000}
.tit_dot{color:#000000; font-size:1.3em; font-weight:500; letter-spacing:-0.065em; padding-left:20px; background:url(../img/tit_dot.png) no-repeat left center; background-size:16px !important}

.tit_line{color:#000000; font-weight:500; font-size:1.4em; margin-bottom:20px; padding-bottom:10px; position:relative; text-align:center}
.tit_line:after{content:''; display:block; width:50px; height:1px; background:#000000; left:0; right:0; bottom:0; margin:auto; position:absolute;}

.linebox{border:1px solid #e6e6e6; padding:10px;}

@media all and (min-width:768px) {
    .bgbox{padding:30px 3%;}
    .col-02{width:47%; margin:0 1.5%; float:left;}
    .pdbox{padding:30px 3%;}
    .mEnter{display:inline;}
    .tEnter{display:block;}

    .tit_nm{font-size:1.3em; }
    .tit_dot{ font-size:1.3em; background-size:20px !Important; padding-left:20px}
    .tit_line{font-size:1.6em; margin-bottom:30px; padding-bottom:20px;}

    .dot_li li{margin-bottom:5px;}

    .linebox{padding:20px;}
    /*.font-sz .dot_li,
    .font-sz .comm_table{font-size: 1.2em;}
    .font-sz .comm_table .dot_li{font-size:inherit;}*/
}

@media all and (min-width:1200px) {
    .bgbox{padding:40px 25px;}
    .pdbox{padding:40px 25px;}
    .tEnter{display:inline;}
    .pEnter{display:block;}
    .bdLine{padding-bottom:60px; margin-bottom:60px;}

    .tit_line{font-size:1.8em; margin-bottom:40px; padding-bottom:30px; }

    .linebox{padding:30px;}


}

/*탭리스트*/
.tablist {overflow:hidden; text-align:center; position:relative;}
.tablist:before{position:absolute; content:''; width:100%; height:2px; left:0; bottom:0; background:#334061}
.tablist li{display:inline-block;  line-height:40px; text-align:center; background:#ffffff; position:relative;}
.tablist li:last-child{border-right:0}
.tablist.list02 li{width:45%}
.tablist.list03 li{width:30%}
.tablist.list04 li{width:45%}


.tablist li a{ display:block; text-align:center; border:2px solid #e6e6e6;  background:#f5f5f5; color:#808080; border-bottom:0px;}
.tablist li.active a{color:#334061; background:#ffffff; font-weight:500; border:2px solid #334061; border-bottom:3px solid #ffffff}


@media all and (min-width:768px) {
    .tablist {text-align:left}
    .tablist.list04 li{width:25%}
    .tablist li{line-height:50px;}
}



.comm_table{width:100%; border-top:1px solid #4e5463; border-collapse:separate; font-size:0.95em;}
.comm_table th, .comm_table td{border-bottom:1px solid #dcdcdc;padding:15px 3px;vertical-align:middle;font-weight: 400;}
.comm_table .bl, .comm_table tr.bl td, .comm_table tr.bl th{border-left:1px solid #dcdcdc}
/*.comm_table tr.bl td:first-child, .comm_table tr.bl th:first-child{border-left:0px;}*/
.comm_table .bli{border-left:1px solid #dcdcdc !important}
.comm_table th{font-weight:400; background:#f9f9fa; color:#000000}
.comm_table td.bgc{background:#fcfcfc; font-weight:400; color:#000000}
.comm_table td.bdr{border-right:1px solid #e6e6e6}

.bd_table th,
.bd_table td{border-right:1px solid #dcdcdc;}
.bd_table{border-left:1px solid #dcdcdc;}


.time_table{width:100%;border-top:2px solid #004c7f;border-collapse:separate;font-size: 1em;border-left:1px solid #dcdcdc;}
.time_table th, .time_table td{border-bottom:1px solid #dcdcdc;padding:10px 3px;vertical-align:middle;border-right:1px solid #dcdcdc;font-weight: 400;}
.time_table th{font-weight:500}
.time_table thead th{background:#006fba; color:#ffffff; border-color:rgba(255,255,255,0.2)}
.time_table td.bgc{background:#f5f8fb; font-weight:400; color:#000000; text-align:center}


@media all and (min-width:768px) {
    .comm_table{font-size: 1em;}
    .comm_table th, .comm_table td{padding:20px 10px}
    .time_table th,
    .time_table td{padding:10px 10px}

    .counsel_table th{padding:12px 5px}

    .counsel_table td{padding:6px 5px}


}
.syncSlider{margin-bottom:20px; position:relative;}
.syncSlider #sync1 .owl-wrapper-outer{margin-bottom:10px;}
.syncSlider #sync1 .item img{width:100%}
.syncSlider #sync2 .item{margin: 5px; cursor: pointer; padding:2px; opacity:0.5;}
.syncSlider #sync2 .synced .item{background: #2448a9; opacity:1;}

.syncSlider .owl-controls{margin-top:0px !important; position:absolute; z-index:2; right:0px; bottom:0px;}
.syncSlider .owl-controls .owl-buttons{float:right;}
.syncSlider .owl-controls .owl-buttons div{margin:0px !important; border-radius:0px  !important; opacity:0.8 !important; width:40px; height:40px; padding: 10px  !important; text-indent:-9999999px;}
.syncSlider .owl-controls .owl-buttons div.owl-prev{margin-right:3px !important; background:#505050 url(../img/btn_prev.png) no-repeat center center !important;}
.syncSlider .owl-controls .owl-buttons div.owl-next{background:#505050 url(../img/btn_next.png) no-repeat center center !important;}

.syncSlider #sync2 {position:relative; margin-top:10px}
.syncSlider .owl-controls clickable{float:right}


/*컨텐츠공통*/
.conh4{font-size:1.9em; font-weight:500}
.conh4:after{content:''; width:60px; height:3px; background:#4e5463; display:block; margin:20px 0}
.conh4 span.st{font-size:0.7em; display:block}
.bgtxt{display:inline-block; padding:3px 5px; line-height:100%; color:#ffffff; background:#1a42b2; font-size:0.9em; border-radius:5px;}
.bgbl{background:#006fba}
.bgbl{background:#006fba}
.bgorg{background:#ff992c}
.bggr{background:#1ec800}

@media all and (min-width:768px) {
    .conh4{font-size:2.3em;}

}

/*공통*/


.pointbox{padding:20px 10px;border:1px dashed #d3e1e6;background:#f9f9fa;font-weight: 400;/* font-size: 1.1em; */}
.iconBox{font-size:1.1em; padding-bottom:25px;  margin-bottom:20px; position:relative;}
.iconBox h4{color:#1a0182 !important; font-weight:600}
.iconBox:after{content:''; width:100%; height:5px; position:absolute; left:0; right:0; bottom:0; background:url(../img/bd_line_bg.png) repeat-x; }

.ic_blank{color:#1a0182; font-weight:500;}
.ic_blank:after{ font-family:'FontAwesome'; content:'\f08e'; display:inline-block; font-weight:600; margin-left:3px; font-size:0.9em}

.btn_rd{display:inline-block; padding:10px 20px; background:#1a42b2; border-radius:500px; color:#ffffff }
.btn_big{font-size:1.1em}
@media all and (min-width:768px) {
    .pointbox{padding:20px 20px;}

    .iconBox{padding-bottom:35px;  margin-bottom:30px;}
}

@media all and (min-width:1200px) {
    .pointbox{padding:30px 20px;}

    .iconBox{padding-bottom:55px; margin-bottom:50px;}
    .btn_rd{padding:15px 25px}
    .btn_big{padding:20px 50px}

}

.layerpop{position:relative; z-index:9999; max-width:320px;}
.layerpop_bottom{background:#333333; font-size:0.9em}
.layerpop_bottom a{line-height:36px; float:right;}

@media all and (min-width:768px) {
    .layerpop{max-width:600px}
}

@media all and (min-width:1200px) {
    .layerpop{max-width:100%}
}

/*비전 및 전략*/


/*비전*/
.vs_tit{font-weight:500; color:#1a0182; font-size:1.4em;}
.vs_tit span.tit{display:block;}
.vs_tit b{background:#1a0182; color:#ffffff; position:relative; display:block; width:80px; margin:0 auto; margin-bottom:10px; text-align:center; font-size:14px; letter-spacing:0; font-weight:600}
.vs_tit b:after{content:''; display:block; position:absolute; right:0; left:0; top:-5px; border-top:5px solid transparent; border-right:80px solid #1a0182}

.vision_li:after{content:''; clear:both; display:block}
.vision_li li{position:relative; overflow:hidden; border:1px solid #e6e6e6; padding-top:15px;/*-webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.3);
box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.3);*/
    margin-bottom:20px;
}

.vision .goal{padding:20px 0px; background:#ffffff; -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.3); border-radius:500px; max-width:700px; margin:0 auto }

.vision .goal .vs_tit{color:#62588c; font-size:1.2em }

.vision_li li img{max-width:100px;}
.vision_li dl{padding:0 3% 20px;background:#ffffff;font-weight: 400;}
.vision_li dl dt{text-align:center; color:#1a0182; font-weight:500; font-size:1.1em}
.vision_li dl dt span{font-size:14px; color:#808080; display:block;}

@media all and (min-width:620px) {
    .vs_tit{font-size:2em; letter-spacing:-2px}
    .vision .goal .vs_tit{font-size:1.6em; }
    .vision_li li{width:48%; margin:0 1% 30px; float:left;position:relative; overflow:hidden; }
    .vision_li li:nth-child(3){clear:both;}
    .vision_li dl{min-height:110px}
    .vision_li dl dt{margin-bottom:10px}
    .vision_li dl dd{font-size: 1em;}

}


@media all and (min-width:1200px) {
    .vision_li li{width:24%; margin:0 0.5%;}
    .vision_li li:nth-child(3){clear:none;}
    .vision_li li:nth-child(even){margin-top:30px}
    .vision_li dl{min-height:135px}

}



/*시설안내*/


.info_space{overflow:hidden; position:relative; }
.info_space h4{font-weight:500; font-size:1.2em; margin-bottom:10px }
.info_space .space_li{padding:20px 10px; background:#004c7f; color:#ffffff; text-align:center}
.info_space .space_li li{display:inline-block; vertical-align:middle; margin-right:10px; margin-bottom:3px;}
.info_space .space_li li span{display:inline-block; vertical-align:middle; margin-right:3px; background:#112765; width:20px; height:20px; text-align:center; border-radius:500px; font-size:0.8em; line-height:20px; font-weight:600}

.info_space .photo{position:relative;}
.info_space .photo ul.space_dot{position:absolute; width:100%; height:100%; left:0; right:0; top:0; bottom:0;}
.info_space .photo ul.space_dot li{display:block; position:absolute; width:25px; height:25px; line-height:25px; text-align:center; color:#ffffff; font-size:0.8em; font-weight:600; background:#1a0181; border-radius:500px; z-index:1; cursor:pointer}
.info_space .photo ul.space_dot li:before{content:''; width:10px; height:10px; background:#1a0181; position:absolute; right:50%; margin-right:-5px; bottom:-2px; transform:rotate(-45deg); z-index:0;}
.info_space .photo ul.space_dot li.dot01{top:44%; right:36%}
.info_space .photo ul.space_dot li.dot02{top:30%; left:8%}
.info_space .photo ul.space_dot li.dot02_2{bottom:32%; right:9%}
.info_space .photo ul.space_dot li.dot03{bottom:24%; left:50%}
.info_space .photo ul.space_dot li.dot04{top:39%; left:32%}
.info_space .photo ul.space_dot li.dot05_2{top:54%; left:10%}
.info_space .photo ul.space_dot li.dot05{bottom:15%; right:13%}
.info_space .photo ul.space_dot li.dot06{top:55%; right:26%}

.space_pop .popcon{padding:0 !important;}
.space_pop .popcon:after{content:''; clear:both; display:block;}

.space_pop h1{font-weight:500}
.space_pop dl{width:94%; margin:0 auto; padding:20px; text-align:left; background:#ffffff; margin-top:-30px; position:relative;}
.space_pop dl dt{font-weight:600; margin-bottom:10px; font-size:1.2em; color:#1a0182;}
.space_pop dl dt span{display:inline-block; vertical-align:middle; margin-right:10px; background:#1a0182; width:25px; height:25px; text-align:center; border-radius:500px; font-size:0.8em; font-weight:600; line-height:25px; color:#ffffff}
.space_pop dl dd{padding-left:15px; position:relative;}
.space_pop dl dd:before{content:''; width:2px; height:100%; position:absolute; left:0; top:0px; bottom:0; background:#1a0182}

@media only screen and (min-width: 768px) {
    .info_space .space_li li{margin-bottom:0}
	.info_space .photo ul.space_dot li{width:35px; height:35px; line-height:35px; font-size:1em}
}

@media only screen and (min-width: 1024px) {
    .info_space h4{font-size:1.4em}
    .info_space .space_li{width:30%; height:100%; position:absolute; left:0; top:0; bottom:0; text-align:left; padding:3% 30px}
    .info_space .space_li li{display:block; margin-bottom:10px;}
    .info_space .space_li li span{width:30px; height:30px; line-height:30px;}

    .info_space .photo{margin-left:30%; width:70%}
    .info_space .photo img{display:block; width:100%}

.info_space .photo ul.space_dot li.dot01{top:44%; right:38%}
.info_space .photo ul.space_dot li.dot02{top:33%; left:10%}
.info_space .photo ul.space_dot li.dot02_2{bottom:32%; right:9%}
.info_space .photo ul.space_dot li.dot03{bottom:28%; left:50%}
.info_space .photo ul.space_dot li.dot04{top:42%; left:32%}
.info_space .photo ul.space_dot li.dot05_2{top:54%; left:10%}
.info_space .photo ul.space_dot li.dot05{bottom:17%; right:13%}
.info_space .photo ul.space_dot li.dot06{top:57%; right:26%}

.space_pop dl{padding:40px; margin-top:-40px}
.space_pop dl dt{position:absolute; font-size:1.4em}
.space_pop dl dt span{width:40px; height:40px; line-height:40px;}
.space_pop dl dd{margin-left:40%; padding-left:50px; font-size:1.1em}

}

@media only screen and (min-width: 1200px) {
    .info_space .space_li{width:100%; position:relative;}
    .info_space .photo{margin-left:0%; width:100%}
    .info_space .space_li li span{width:35px; height:35px; line-height:35px;}
    .info_space .space_li li{display:inline-block;}

	.info_space .photo ul.space_dot li{ transition:0.2s}
	.info_space .photo ul.space_dot li:hover{transform:translateY(-10px); transition:0.2s}
}

@media only screen and (min-width: 1400px) {
    .info_space h4{margin-bottom:20px}
    .info_space .space_li{width:25%; height:100%; position:absolute; padding-top:4%}
    .info_space .space_li li{display:block; margin-bottom:10px;}
    .info_space .photo{margin-left:25%; width:75%}
}


/*시설상세*/
.space_view:after{content:''; clear:both; display:block}
.space_view li{position:relative; overflow:hidden;margin-bottom:20px;}
.space_view dl{padding:20px 3%; background:#ffffff}
.space_view dl dt{color:#1a0182; font-weight:500; font-size:1.1em; margin-bottom:10px;}
.space_view dl dt span.num{display:inline-block; vertical-align:middle; margin-right:3px; background:#112765; width:25px; height:25px; text-align:center; border-radius:500px; font-size:0.8em; font-weight:600; line-height:25px; color:#ffffff}
.space_view dl dd{overflow:hidden;background:url("../img/dot_li.gif") no-repeat 0px 10px;padding-left:7px;margin-bottom:3px;font-weight: 400;}
.space_view dl dd:last-child{margin-bottom:0}

@media all and (min-width:620px) {
    .space_view li{width:48%; margin:0 1% 20px; float:left;position:relative; overflow:hidden; }
    .space_view li:nth-child(3),
    .space_view li:nth-child(5){clear:both;}
    .space_view dl dt{margin-bottom:10px}
    .space_view dl dd{font-size: 1em;}

}


@media all and (min-width:1200px) {
    .space_view li{width:31.33%; margin:0 1% 30px;}
    .space_view li:nth-child(3){clear:none;}
    .space_view li:nth-child(4){clear:both;}
    .space_view li:nth-child(5){clear:none;}

}



/*조직도*/
.organization{text-align:center; position:relative;}
.organization:before{content:''; width:1px; height:74.5%; left:0; right:0; top:0; margin:auto;  position:absolute; display:block; background:#dcdcdc}
.organization .ordep{position:relative; margin-bottom:30px; overflow:hidden}
.organization .ordep.or03{margin-bottom:50px}
.organization .ordep .orhd{display:block; padding:15px 0px; background:#808080; color:#ffffff; position:relative}
.organization .ordep .orhd span{display:block; font-weight:600; font-size:0.8em}
.organization .or01 .orhd{background:#004ea2; background:linear-gradient(45deg, #004ea2 0%, #49458c 100%); padding:15px 0px; font-size:1.2em; width:220px; left:50%; margin-left:-110px}
.organization .or02 .orhd{background:#49458c}
.organization .or03 .orhd{background:#8b3793; }
.organization .or04 .orhd{background:#787891}


.organization .or02{position:relative; overflow:hidden; max-width:800px; margin:0 auto; margin-bottom:30px}
.organization .or02:before{content:''; width:50%; height:1px; right:0%; bottom:0; top:0; margin:auto;  position:absolute; display:block; background:#dcdcdc; max-width:500px}
.organization .or02 .orhd{width:30%;  max-width:150px}
.organization .or02 .orhd.right{margin:0; margin-left:70%; float:right}

.organization .or03 .orhd{padding:15px 30px; width:100%; width:220px; left:50%; margin-left:-110px}
.organization .or04 .orhd{width:100%; padding:12px 0px; }

.organization .or04{overflow:hidden;}
.organization .or04{text-align:center; padding-top:50px; position:relative; font-size:0.9em}
.organization .or04:before{content:''; width:75%; height:1px; background:#dcdcdc; top:0px; left:0; right:0; margin:auto; display:block; position:absolute; }

.organization .ordep .ortree{ margin:0 auto; margin-bottom:30px; }
.organization .ordep .ortree:last-child{margin-bottom:0}
.organization .ordep .ortree ul{padding:10px 20px; text-align:left; background:#f5f5fa; border:1px solid #dcdcdc}

.organization .ordep .ortree{width:23%; margin: 0 1%; float:left; vertical-align:top; position:relative;}
.organization .ordep .ortree:before{content:''; display:block; width:1px; height:60px; background:#dcdcdc;  left:0; top:-60px; right:0; margin:auto; position:absolute;}


@media all and (min-width:620px) {
    .organization .or04{font-size:1em}
}

@media all and (min-width:768px) {

    .organization:before{height:70.5%}
    .organization .ordep .orhd{padding:20px 20px !important; font-size: 1.2em}
    .organization .or01 .orhd{font-size:1.4em; width:300px;  margin-left:-150px}
    .organization .ordep.or03{margin-bottom:80px}
    .organization .or04{padding-top:80px; max-width:1000px; margin:0 auto; font-size:1em}
    .organization .ordep .ortree ul{text-align:left; padding:25px 10px}
    .organization .ordep .ortree:before{height:80px; top:-80px}
}

@media all and (min-width:1200px) {

}





/*오시는길*/
.mapbox{position:relative;}

.root_daum_roughmap { width: 100% !important }
.root_daum_roughmap .cont .section { padding: 20px !important; background: #ffffff; margin: 0 !Important }

.address_info{background:#004c7f; color:#ffffff; padding:30px 20px;}
.address_info h4{font-size:1.4em; font-weight:600; margin-bottom:10px}
.address_info p{margin-bottom:5px; color:#ffffff}


@media all and (min-width:768px) {
    .address_info{position:absolute; left:20px; top:20px; z-index:10; text-align:left; padding:40px 30px}
}





.typebox{position:relative;}
.typebox ul.tabs {width:100%; overflow:hidden; position:relative;}
.typebox ul.tabs:before{width:100%; height:1px; background:#e0e3e7; position:absolute; bottom:0; left:0; }
.typebox ul.tabs li{display:block;float:left; width:48%; margin:0 0.5% 2px;cursor:pointer; background:#f9f9f9; color:#969696;text-align:center; position:relative; border:1px solid #e0e3e7;}
.typebox ul.tabs li:before{content:''; display:block; position:absolute; left:0; right:0; top:-1px; margin:auto; width:100%; height:2px; background:#e0e3e7 ;}
.typebox ul.tabs li:hover{color:#323232; font-weight:400}
.typebox ul.tabs li.current{color:#ffffff; background:#1a0182; font-weight:500; color:#ffffff; border-color:#1a0182}
.typebox ul.tabs li.current:before{background:#006fba ;}

.typebox ul.tabs.list07 li{width:32.33%}
.typebox ul.tabs.list03 li{width:32.33%}
.typebox ul.tabs.long li span{display:block}
.typebox ul.tabs li.on{color:#000000; background:#ffffff; font-weight:500;}
.typebox ul.tabs li.on:before{background:#0aa2f8 ;}
.typebox ul.tabs li a{display:block;  padding:10px 0; }




@media only screen and (min-width: 768px) {
    .typebox ul.tabs{text-align:center}
    .typebox ul.tabs li{max-width:260px; font-size:1.05em;}
    .typebox ul.tabs li a{padding:15px 0px;}
    .typebox .tabscontent{padding:50px 0px}

    .typebox ul.tabs.list04 li{width:24%}
    .typebox ul.tabs.long li span{display:inline}

}


/*운영사업*/
.businessbox{overflow:hidden;}
.businessbox .left img{ width:100%;}

@media only screen and (min-width: 640px) {
    .businessbox .left {width:30%; margin-right:3%; float:left;}
    .businessbox .right {width:67%; float:left;}
}

@media only screen and (min-width: 1024px) {
    .businessbox .left {width:22%;}
    .businessbox .right {width:75%;}
}

/*추진일정*/
.process{position:relative; overflow:hidden }
.process li{border:1px solid #e6e6e6; margin-bottom:15px; text-align:center; width:49%; float:left; margin:0 0.5% 5px;}
.process .pro{padding-top:0;}
.process .pro dd{margin-bottom:10px;}
.process .pro dd:last-child{border-top:1px dashed #d3e1e6; padding:7px; background:#f9f9f9; margin-bottom:0}
.process .pro dt{background:#004c7f; color:#ffffff; padding:10px; margin-bottom:10px;}
.process .pro dt .num{display:inline-block; width:25px; height:25px; line-height:25px; margin-left:5px; text-align:center; background:#112765; border-radius:500px}

@media only screen and (min-width: 640px) {
    .process li{width:32.33%; }
}

@media only screen and (min-width: 840px) {
    .process li{width:19%; }
}



/*운영프로그램*/
.business_img{position:relative}
.business_img ul{overflow:hidden}
.business_img ul li{margin-bottom:20px}
.business_img ul li img{width:100%}

@media only screen and (min-width: 640px) {
    .business_img ul li{width:48.5%; margin-right:3%; float:left}
    .business_img ul li:nth-child(even){margin-right:0%;}
    .business_img ul.list01 li{width:50%; margin:0 auto !Important; float:none}

}

@media only screen and (min-width: 768px) {
    .business_img ul.list03 li{width:30.33%; margin:0 1.5% 20px;}
    .business_img ul.list03 li:nth-child(even){margin-right:1.5%;}
}

/*기업상담신청*/
.counselbox{padding:30px 20px; border:10px solid #f9f9f9}
.counselbox ul {overflow:hidden; max-width:600px; margin: 0 auto}
.counselbox ul li{float:left; width:50%; text-align:center; padding:0 10px}
.counselbox ul li img{width:100%; max-width:250px}
.counselbox .txt{font-size:1.1em}
.counselbox .txt p{font-size:1.2em;  margin-bottom:40px; padding-top:30px; margin-top:30px; position:relative}
.counselbox .txt p:before{content:''; display:block; position:absolute; top:0; left:0; right:0; margin:auto; width:100px; height:1px; background:#dcdcdc}
.counselbox .txt a:after{font-family:'FontAwesome'; content:'\f08e'; display:inline-block; font-weight:600; margin-left:3px; font-size:0.9em}


@media only screen and (min-width: 768px) {
    .counselbox{padding:50px 20px;}
}

@media only screen and (min-width: 1200px) {
    .counselbox{padding:80px 20px;}
    .counselbox .txt p{font-size:1.4em;   padding-top:40px; margin-top:40px;}
}

/*일자리상담/대관신청방법*/
.counsel_process ul {overflow:hidden}
.counsel_process ul li{position:relative;  border:1px dashed #7790c1; padding:15px 0; margin-bottom:30px; text-align:center;}
.counsel_process ul li:after{font-family:'FontAwesome'; content:'\f107'; position:absolute; right:0; left:0; bottom:-25px; margin:auto; font-size:18px;  background:#1a0182; width:20px; height:20px; color:#ffffff; border-radius:500px}
.counsel_process ul li:last-child{margin-bottom:0}
.counsel_process ul li:last-child:after{display:none}

.counsel_process ul li img{max-width:80px;}
.counsel_process ul  li span{display:block; font-weight:500;  font-size:1.1em; color:#1a0182; }

@media all and (min-width:620px) {
    .counsel_process ul li{width:23%; margin:0 1%; float:left;position:relative; padding:25px 0px; height:180px;}
    .counsel_process ul li:after{content:'\f105'; left:auto; top:0; bottom:0; width:30px; height:30px; line-height:30px;  right:-25px; z-index:5 }
    .counsel_process ul.list03 li{width:31.33%;}
    .rent_process ul li{height:auto !important}
}

@media all and (min-width:1200px) {
    .counsel_process ul li{padding:40px 0px; height:240px}
}



.time_info{padding:20px 20px; border-top:1px solid #323232; border-bottom:1px solid #e6e6e6; box-sizing:border-box;}
.time_info dl{padding-left:80px; background-position:10px center; background-repeat:no-repeat; background-size:50px !important; box-sizing:border-box; min-height:70px}
.time_info dt{font-weight:500; font-size:1.1em;  margin-bottom:5px; color:#000000}
.time_info dd.tit{font-size:1.2em; font-weight:500}
.time_info dd{background:url("../img/dot_li.gif") no-repeat 0px 10px;padding-left:10px;font-weight: 400;}
.time_info dd:last-child{margin-bottom:0;}
.time_info .time{padding-top:20px; margin-top:20px; border-top:1px solid #e6e6e6}
.time_info .time:first-child{border-top:0; margin-top:0; padding-top:0;}
.time_info dl.time01{background-image:url(../img/ic_time01.png)}
.time_info dl.time02{background-image:url(../img/ic_time02.png)}
.time_info dl.time03{background-image:url(../img/ic_time03.png)}


@media all and (min-width:640px) {
    .time_info{padding:0px 0px; border:1px solid #e6e6e6; border-top:1px solid #323232; position:relative}
    .time_info .time{width:50%; float:left; margin:0; border:0; padding:0 20px; position:relative;  text-align:center;}
    .time_info:before{content:''; width:1px; height:150px; background:#e6e6e6; position:absolute; display:block; left:0; right:0; top:0; bottom:0; margin:auto}
    .time_info .time:last-child:before{display:none}
    .time_info dl{padding:0px; padding-top:100px; padding-bottom:30px; background-position: center 20px !Important;  background-size:70px !important; box-sizing:border-box}
    .time_info dd{background:none; padding-left:0}
    .time_info dd.tit{font-size:1.4em;}
}

@media all and (min-width:1200px) {
    .time_info dl{padding:40px 0 40px 150px; background-position:30px center !important; text-align:left}
}

.photo_list{position:relative; overflow:hidden}
.photo_list .box{position:relative; margin-bottom:20px}
.photo_list .box span{display:inline-block; position:absolute; padding:5px 10px; color:#ffffff; background:#1a42b2; left:0; top:0; font-size:0.9em;}

@media all and (min-width:768px) {
    .photo_list .box{width:32% !important; margin-right:2%;}
    .photo_list .box:last-child{margin-right:0%;}
}

/*시설소개슬라이드*/
.photo_slider ul li{margin:0 5px}
.photo_slider ul li img{width:100%}
.photo_slider ul.slider_nav li{opacity:0.3}
.photo_slider ul.slider_nav li.slick-current{opacity:1}
.photo_slider ul.space_slider li{position:relative}
.photo_slider ul.space_slider li span{position:absolute; padding:0px 20px; line-height:50px; background:rgba(0,0,0,0.5); color:#ffffff; text-align:left; display:block; bottom:0; left:0; right:0;}

.space_slider{margin-bottom:10px}
.space_slider .slick-arrow{bottom:0px; top:auto; left:auto; right:52px}
.space_slider .slick-arrow.slick-next{ right:0px}

@media all and (min-width:768px) {
    .photo_slider ul.space_slider li span{font-size:1.2em}
}


/*멘토링*/
.mentor_process ul {overflow:hidden}
.mentor_process ul li{position:relative;  border:1px dashed #7790c1; padding:15px 0; margin-bottom:30px; text-align:center;}
.mentor_process ul li:after{font-family:'FontAwesome'; content:'\f107'; position:absolute; right:0; left:0; bottom:-25px; margin:auto; font-size:18px;  background:#1a0182; width:20px; height:20px; color:#ffffff; border-radius:500px}
.mentor_process ul li:last-child{margin-bottom:0}
.mentor_process ul li:last-child:after{display:none}

.mentor_process ul li img{max-width:80px;}
.mentor_process ul  li span{display:block; }
.mentor_process ul  li span.tit{font-weight:500;  font-size:1.1em; color:#1a0182; }
.mentor_process ul  li span.txt{font-size: 1em;font-weight: 400;}

@media all and (min-width:620px) {
    .mentor_process ul li{width:46%; margin:0 1% 15px; float:left;position:relative; padding:25px 0px; height:180px;}
    .mentor_process ul li:after{content:'\f105'; left:auto; top:0; bottom:0; width:30px; height:30px; line-height:30px;  right:-25px; z-index:5 }
    .mentor_process ul.list03 li{width:31.33%;}
}

@media all and (min-width:768px) {
    .mentor_process ul li{width:23%; margin:0 1%; height:220px; }

}
@media all and (min-width:1200px) {
    .mentor_process ul li{padding:40px 0px; height:240px; }
}


/*구인구직 서식*/

.standard_down{padding:20px 20px; border-top:1px solid #323232; border-bottom:1px solid #e6e6e6; box-sizing:border-box;}
.standard_down dl{padding-left:80px; background-position:10px center; background-repeat:no-repeat; background-size:50px !important; box-sizing:border-box; min-height:70px}
.standard_down dt{font-weight:500; font-size:1.1em;  margin-bottom:5px; color:#000000}
.standard_down dd.tit{font-size:1.2em; font-weight:500}
.standard_down dd:last-child{margin-bottom:0;}
.standard_down dd.down{padding-left:0; background:none; margin-top:10px}
.standard_down dd.down a{display:inline-block; line-height:36px; padding:0 10px; background:#1a42b2; color:#ffffff; font-size:0.9em; border-radius:5px}
.standard_down dl{padding-top:20px; margin-top:20px; border-top:1px solid #e6e6e6}
.standard_down dl:first-child{border-top:0; margin-top:0; padding-top:0;}
.standard_down dl.ic_counsel01{background-image:url(../img/ic_counsel01.png)}
.standard_down dl.ic_counsel02{background-image:url(../img/ic_counsel02.png)}
/*
@media all and (min-width:620px) {
.standard_down{overflow:hidden}
.standard_down dl{border-top:0; margin-top:0; padding:0; padding-top:60px !important; background-position:center top; float:left; width:50%; border:0px; text-align:center }
}
*/

@media all and (min-width:640px) {
    .standard_down{padding:0px 0px; border:1px solid #e6e6e6; border-top:1px solid #323232; overflow:hidden}
    .standard_down dl{width:50%; float:left; margin:0; border:0; padding:0 20px; position:relative;  text-align:center;}
    .standard_down dl:before{content:''; width:1px; height:150px; background:#e6e6e6; position:absolute; display:block; right:0; top:0; bottom:0; margin:auto}
    .standard_down dl:last-child:before{display:none}
    .standard_down dl{padding:0px; padding-top:100px !important; padding-bottom:30px !important; background-position: center 20px !Important;  background-size:70px !important; box-sizing:border-box}
    .standard_down dd{background:none;padding-left:0;font-weight: 400;}
    .standard_down dd.tit{font-size:1.4em;}
}

@media all and (min-width:1200px) {
    .standard_down dl{padding:40px 0 40px 170px !important; background-position:50px center !important; text-align:left}
}



/*프로그램 이미지 추가*/

.program-img{}
.program-img ul{}
.program-img ul:after{
    display:block; clear:both; content:"";
}
.program-img li{
    margin-bottom: 10px;
}
.program-img li:first-child{}





@media all and (min-width:768px) {
    .program-img{}
    .program-img ul{}
    .program-img li{
        width: 21.8%;
        float: left;
        margin: 1%;
        border: 1px solid #dedede;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 1%;
    }
    .program-img li:first-child{
        width: 41%;
    }
}

@media all and (min-width:1200px) {
    .program-img{}
    .program-img ul{
        max-width: 900px;
        margin: 0 auto;
    }
    .program-img li{margin:0.5%;width: 28%;}
}