@charset"utf-8";

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* -------- NOTO -------- */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src : url(../webfont/NotoKR/100/NotoSansKR-Thin.woff2) format('woff2'),
		url(../webfont/NotoKR/100/NotoSansKR-Thin.woff) format('woff'),
		url(../webfont/NotoKR/100/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src : url(../webfont/NotoKR/300/NotoSansKR-Light.woff2) format('woff2'),
		url(../webfont/NotoKR/300/NotoSansKR-Light.woff) format('woff'),
		url(../webfont/NotoKR/300/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src : url(../webfont/NotoKR/400/NotoSansKR-Regular.woff2) format('woff2'),
		url(../webfont/NotoKR/400/NotoSansKR-Regular.woff) format('woff'),
		url(../webfont/NotoKR/400/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src : url(../webfont/NotoKR/500/NotoSansKR-Medium.woff2) format('woff2'),
		url(../webfont/NotoKR/500/NotoSansKR-Medium.woff) format('woff'),
		url(../webfont/NotoKR/500/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src : url(../webfont/NotoKR/700/NotoSansKR-Bold.woff2) format('woff2'),
		url(../webfont/NotoKR/700/NotoSansKR-Bold.woff) format('woff'),
		url(../webfont/NotoKR/700/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src : url(../webfont/NotoKR/900/NotoSansKR-Black.woff2) format('woff2'),
		url(../webfont/NotoKR/900/NotoSansKR-Black.woff) format('woff'),
		url(../webfont/NotoKR/900/NotoSansKR-Black.otf) format('opentype');
}
​
.noto{font-family:'Play','Noto Sans KR', sans-serif;}
