@charset "utf-8";
/*
	Common Layout CSS _ 15.05.18
*/

/*common*/


.inner{max-width:1400px; width:100%; position:relative; margin: 0 auto;}
.pdinner{max-width:1400px; padding:0 3%; position:relative; margin: 0 auto;}
.ofh{overflow:hidden;}

.tit_h3{font-size:28px;font-weight:400; color:#323232;  position:relative; letter-spacing:-1px}
.tit_h3:after{content:''; width:60px; height:1px; display:block; background:#505050; margin: 0 auto; margin-top:20px;}
.tit_h4{font-size:26px; color:#323232; font-weight:bold; letter-spacing:-1px}

.tit_h5{color:#323232; font-weight:bold; font-size:18px;}

.tit_h4.noLine:after{width:0; height:0px; margin-top:0px;}


.mEnter{display:block;}
.mb{margin-bottom:30px !important}
.pb{padding-bottom:30px;}
.bmb{margin-bottom:40px !important}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}


.tac{text-align:center;}
.tal{text-align:left;}
.tar{text-align:right;}
.mo_only{display:block;}

.move_scroll{max-width:768px; overflow-x:auto}

.line_link{display:inline-block; color:#ffffff; padding-bottom:5px; border-bottom:3px solid #ffffff; font-size:0.9em}
.line_btn{overflow:hidden;}
.line_btn li{width:100%; margin-bottom:10px;}
.line_btn li a{display:block; border:1px solid #ffffff; padding:5px; text-align:center; font-size:0.8em}
.line_btn li:last-child{margin:0; }

.arrow_cir_w:after{content:''; width:28px; height:25px; background:url(../img/ic_arrow_w.png) no-repeat center center; background-size:100%; display:inline-block; vertical-align:middle; margin-left:10px;}

.dpib{display:inline-block}
.dpb{display:block;}

.upper{text-transform:uppercase}
.fwb{font-weight:500}
.fss{font-size:0.8em}
.Tblack{color:#323232}
.Tred{color:#e83428}
.ylTxt{color:#fff94e;}
.grTxt{color:#11ae4b}
.orgTxt{color:#ffa60a}
.upcase{text-transform:uppercase}

.btn_more{display:inline-block; color:#ffffff; background:#1c3f95; padding:6px 20px; border-radius:500px}

@media all and (min-width:768px) {


    .tit_h4{font-size:30px; letter-spacing:-1px}
    .tit_h5{font-size:20px; letter-spacing:-1px}


    .mb{margin-bottom:45px !important; }
    .pb{padding-bottom:45px;}
    .bmb{margin-bottom:60px !important;}

    .mo_only{display:none;}
    .move_scroll{max-width:100%;}
    .pdinner{padding:0 3%}

    .half{width:47.5%; float:left;}
    .mr{margin-right:3%;}

    .line_btn li{width:47.5%; float:left; margin-right:3%;}
    .line_btn li:last-child{margin:0}
    .line_btn li a{padding:8px}

    .mEnter{display:inline-block;}
    .tEnter{display:block;}
}

@media all and (min-width:1200px) {

    body, html{font-size:16px;}
    .mEnter{display:inline-block;}
    .tEnter{display:inline-block;}
    .pEnter{display:block;}

    .tit_h3:after{margin-top:25px;}

    .tit_h4{font-size:30px; }

    .tit_h5{font-size:20px; }


    .mb{margin-bottom:50px !important}
    .pb{padding-bottom:50px;}
    .bmb{margin-bottom:80px !important}
    .pdinner{padding:0 20px}



}

/*owl 컨트롤러 css변경*/
.owl-controls{width:100%; margin:0 auto;}

/*owl pagenation css변경 */
.page_btn .owl-page span{width:20px !important; height:20px !important; background:none !important; border:4px solid #ffffff; border-radius:20px; opacity:0.7 }
.page_btn .owl-page.active span{opacity:1;}

.page_btn2 .owl-page span{width:5px !important; height:5px !important; background:#808080 !important; border-radius:20px; position:relative; opacity:1 !important; margin:0 20px !important;}
.page_btn2 .owl-page.active span:before{content:''; width:30px; height:30px; position:absolute; margin-left:-16px; left:50%; margin-top:-16px; top:50%; border:1px solid #808080; border-radius:200px;}

/*owl navigation css변경*/
.owl-theme .owl-controls{position:relative}
.arrow_btn .owl-buttons{position:absolute; width:100%; top:-250px;}
.arrow_btn .owl-buttons div{position:absolute; font-family:'FontAwesome'; text-indent:-999999px; background:none !important; padding:0px !important; margin:0px !important;}
.arrow_btn .owl-buttons div:first-child{left:2%;}
.arrow_btn .owl-buttons div:last-child{right:2%;}
.arrow_btn .owl-buttons div.owl-prev:after,
.arrow_btn .owl-buttons div.owl-next:after{content:'\f104'; font-family:'FontAwesome'; position:absolute; left:0; top:0; text-indent:0 !important; font-size:3em;}
.arrow_btn .owl-buttons div.owl-next:after{content:'\f105'; right:0; left:auto;}

.pop_page_btn{position:relative;}
.pop_page_btn .owl-controls{position:absolute; bottom:0px; text-align:right !important}
.pop_page_btn .owl-pagination{display:inline-block; padding:1px 10px; border-radius:500px; height:22px;}
.pop_page_btn .owl-controls .owl-page span{width:10px !important; height:10px !important; background:#505050 !important; margin:2px 4px !important}
.pop_page_btn .owl-controls .active span{background:#8c000a !important}

@media all and (min-width:1200px) {
    .arrow_btn .owl-buttons div:first-child{left:-10%;}
    .arrow_btn .owl-buttons div:last-child{right:-10%;}
    .arrow_btn .owl-buttons div.owl-prev:after,
    .arrow_btn .owl-buttons div.owl-next:after{font-size:50px;}
}



/* ==== Slider Image Transition === */
@-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes zoomout {	0% { transform: scale(1.1); }    100% {        transform: scale(1.0);    }}
@-webkit-keyframes zoomout {	0% { transform: scale(1.1); }    100% {        transform: scale(1.0);    }}
@-webkit-keyframes scaling {	From {    -webkit-transform: scale(1.1);}	To {    -webkit-transform: scale(1.0);}}


/* ==== Slick Slider Css Ruls === */
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;/*border:1px solid transparent*/}



/* Arrows */
.slick-arrow{position: absolute;  top: 50%; z-index:100;  display: block;   width: 50px;   height: 50px; border:0;   cursor: pointer;  background:#ffffff; text-indent:-999999px;
    /*	-webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);*/}

.slick-arrow:before{text-indent:0; content:''; display:block; position:absolute; font-family:'FontAwesome'; width:20px; height:20px; line-height:20px; left:0; right:0; bottom:0; top:0;  margin:auto; font-weight:600 }
.slick-arrow:before{content:'\f104'; font-size:22px;}
.slick-next{right:0;}
.slick-next:before{content:'\f105'; }

/* Circle Arrows */
.cir-arrow .slick-arrow{position: absolute;  top: 50%; z-index:100;  display: block;   width: 50px;   height: 50px; border:0;   cursor: pointer;  background:none; border:2px solid #ffffff; border-radius:500px; text-indent:-999999px;
    /*	-webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);*/}

.cir-arrow .slick-arrow:before{text-indent:0; content:''; display:block; position:absolute; font-family:'FontAwesome'; width:20px; height:20px; line-height:20px; left:0; right:0; bottom:0; top:0;  margin:auto; font-weight:600 }
.cir-arrow .slick-arrow:before{content:'\f104'; font-size:22px; color:#ffffff}
.cir-arrow .slick-arrow.slick-next{right:0;}
.cir-arrow .slick-arrow.slick-next:before{content:'\f105'; }

/*line-Dots*/
.slick-dots{position: absolute;    bottom: 10%;    display: block;    width: 100%;    padding: 0;    margin: 0;   text-align: center; z-index:10}
.slick-dots li{position: relative;  display: inline-block;  width: 18px;  height: 18px;  margin: 0 5px;  padding: 0;   cursor: pointer; vertical-align:middle}
.slick-dots li button{ font-size: 0;   line-height: 0;  display: block;  width: 18px;  height: 18px; border-radius:500px;  padding: 0px;  cursor: pointer;  color: transparent;  border: 0;  outline: none;  background:none; border:5px solid #ffffff; opacity:0.5}
.slick-dots li.slick-active button{border-color:#1eccd6; opacity:1}


/*pop_dot*/
.pop_dot .slick-dots{position: absolute;    bottom: 10%;  right:20px; display: inline-block; padding: 5px; line-height:100%;  width:auto; background:rgba(0,0,0,0.5); text-align: center; z-index:10}
.pop_dot .slick-dots li{position: relative;  display: inline-block;  width: 13px;  height: 13px;  margin: 0 5px;  padding: 0;   cursor: pointer; vertical-align:middle;}
.pop_dot .slick-dots li button{ font-size: 0;   line-height: 0;  display: block;  width: 100%;  height: 100%; border-radius:500px;  cursor: pointer;  color: transparent;  border: 0;  outline: none;  background:none; background:#ffffff; opacity:0.5}
.pop_dot .slick-dots li.slick-active button{background:#fcc754; opacity:1}



/*slick_circle_arrow*/

.slick_circle_arrow button{position:absolute; top:auto; bottom:10px; right:20px; background:none; border:1px solid #ffffff; border-radius:500px; border-color:rgba(255,255,255,0.5)}
.slick_circle_arrow button:before{color:#ffffff;}
.slick_circle_arrow button.slick-prev{margin-right:60px}


/**/
.wrap{max-width:2000px; min-width:320px; width:100%; margin: 0 auto; position:relative;  }


.mainvisual {position:relative; overflow:hidden; z-index:0; margin-top:60px }
.mainvisual ul li.main{min-height:300px}

.mainvisual h1.tit{height:0;opacity:0}

#scroll_down{width:50px; height:50px; background:#23b14d; position:absolute; bottom:30px; left:0; right:0; margin:auto; z-index:1000;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);}

#scroll_down a{display:block; width:100%; height:100%; position:relative; text-align:center}
#scroll_down a img{max-width:45px; -webkit-animation:text-pop-up-bottom 1.5s cubic-bezier(.25,.46,.45,.94) infinite both;animation:text-pop-up-bottom 1.5s cubic-bezier(.25,.46,.45,.94) infinite both}
/*.heartbeat{-webkit-animation:heartbeat 1.5s ease-in-out infinite both;animation:heartbeat 1.5s ease-in-out infinite both}*/
.jello-vertical{-webkit-animation:jello-vertical .9s both;animation:jello-vertical .9s both}


.mainvisual ul li.main .mobile_main{width:100%;}

.mainvisual ul li.main01{background:url(../img/main01.jpg) no-repeat center center; background-size:cover !Important}
.mainvisual ul li.main02{background:url(../img/main01.jpg) no-repeat center center; background-size:cover !Important}

.mainvisual ul li.main{position:relative}
.mainvisual ul li.main:before{content:''; width:65%; height:100%; position:absolute; right:0; bottom:10px;  background-size:100% auto !important}
.mainvisual ul li.main01:before{background:url(../img/visu_img01.png) no-repeat center bottom; }
.mainvisual ul li.main02:before{background:url(../img/visu_img02.png) no-repeat center bottom; }



.mainvisual ul li .txt{padding:50px 5% 0; max-width:1500px; margin:0 auto}
.mainvisual ul li .txt h2{width:85%}
.mainvisual ul li .txt h2 img{width:100%}
.mainvisual ul li .txt p{font-size:1.8em; color:#333333; font-weight:500; letter-spacing:-2px}
.mainvisual ul li .txt p b{color:#004c7f}
.mainvisual ul li .txt p span{display:block}

.visualslider .slick-dots{ bottom:30px; width:94%; left:0; right:0; margin:auto; text-align:right}
.visualslider .slick-dots li{width:15px; height:15px; margin:0 3px;}
.visualslider .slick-dots button{border:0px; width:100%; height:100%; border-radius:500px; background:#ffffff}
.visualslider .slick-dots li.slick-active button{background:#ecee35}

.visualslider .slick-arrow{background:#808080; background:rgba(50,50,50,0.3); border-radius:0 5px; top:auto; bottom:15%; left:5%;}
.visualslider .slick-arrow.slick-next{right:auto; left:calc(5% + 55px);}
.visualslider .slick-arrow:before{color:#ffffff}





@media all and (min-width:640px) {
    .mainvisual ul li .txt p{font-size:2.4em; letter-spacing:-2px}
    .mainvisual ul li .txt{padding:80px 5% 0}

    .mainvisual ul li.main{min-height:450px}
}

@media all and (min-width:840px) {
    .mainvisual ul li .txt p{font-size:2.6em}
    /*.mainvisual ul li .txt p span{display:inline}*/
    .visualslider .slick-arrow{bottom:140px}

    .mainvisual ul li.main:before{content:''; width:50%;position:absolute; right:0; bottom:80px;  background-size:100% auto !important}

}

@media all and (min-width:1200px) {
    .mainvisual {margin-top:135px }
    .mainvisual ul li.main{min-height:700px}
    .mainvisual ul li.main .mobile_main{display:none}

    .mainvisual ul li .txt{padding:120px 3% 0px}
    .mainvisual ul li .txt p{font-size:3.2em; letter-spacing:-3px; line-height:1.25}

    .visualslider .slick-arrow{bottom:300px; width:60px; height:60px;}
    .visualslider .slick-arrow.slick-prev{left:3%}
    .visualslider .slick-arrow.slick-next{left:calc(3% + 70px)}

    .mainvisual ul li.main:before{bottom:160px; max-width:600px; right:5%}

}

@media all and (min-width:1400px) {
    .mainvisual ul li .txt p{font-size:3.5em}
    .visualslider .slick-arrow{bottom:260px}
    .visualslider .slick-arrow.slick-next{left:50%; margin-left:-625px}
    .visualslider .slick-arrow.slick-prev{left:50%; margin-left:-700px}

    .mainvisual ul li.main:before{bottom:160px; max-width:750px; right:10%}


}



/*공통*/
.section{padding:35px 0px;}
.section h3.section_h{font-size:1.4em; text-align:center; font-weight:500; color:#000000}
body.mainWrap .inner,
body.mainWrap .pdinner{max-width:1500px}

.section_top{text-align:center;}
.section_top p{color:#808080}


@media all and (min-width:768px) {
    .section h3.section_h{font-size:1.6em;}
    .section{padding:30px 0px;}
}

@media all and (min-width:1024px) {
    .section{padding:50px 0px;}
}

@media all and (min-width:1200px) {
    .section{padding:60px 0px;}
    .section h3.section_h{font-size:1.8em}
}

@media all and (min-width:1400px) {
    .section h3.section_h{font-size:2em}
}



/*tabsection*/
.tabsection{background:#0074c3; padding:25px 0px}
.popup_zone{position:relative; max-width:600px; margin:0 auto; margin-bottom:20px}
.popup_zone h4{position:absolute; display:inline-block; padding:5px 10px; background:#004c7f; color:#ffffff; left:-5px; top:-5px; font-size:0.9em; z-index:2; text-transform:uppercase; border-radius:0 5px}
.popupbox li{border-radius:0 10px; overflow:hidden}
.popupbox .slick-dots{text-align:right; bottom:15px}
.popupbox .slick-dots li{width:13px; height:13px; border-radius:500px}
.popupbox .slick-dots li button{border-radius:500px; border:0px; background:#ffffff; width:100%; height:100%; transition:0.3s; opacity:1}
.popupbox .slick-dots li.slick-active{width:30px; transition:0.3s}
.popupbox .slick-dots li.slick-active button{border:0px; background:#0077c8; }

.noticebox{background:#ffffff; position:relative; border-radius:0 10px; overflow:hidden; max-width:600px; margin:0 auto;}
.noticebox .btn_clink{position:absolute; right:0px; top:0px; display:block; width:50px; height:50px; background:#ffffff; text-indent:-999999px}
.noticebox .btn_clink:before,
.noticebox .btn_clink:after{content:''; display:block; width:2px; height:14px; background:#888888; position:absolute; left:0; right:0; bottom:0; top:0; margin:auto}
.noticebox .btn_clink:after{width:14px; height:2px}

.noticebox ul.tabs {width:100%; border-bottom:1px solid #e6e6e6; text-align:left; overflow:hidden; }
.noticebox ul.tabs li{display:block;float:left; font-size:1.1em;   width:35%; max-width:110px; padding:0 15px; cursor:pointer; color:#969696; line-height:50px; text-align:center; position:relative}
/*.noticebox ul.tabs li:after{content:''; display:block; position:absolute; width:1px; height:100%; top:0; bottom:0; right:0; background:#dcdcdc;}*/
.noticebox ul.tabs li:hover{color:#323232; font-weight:500}
.noticebox ul.tabs li.current{color:#323232; background:#ffffff; font-weight:500;}
.noticebox ul.tabs li.current:before{content:''; display:block; position:absolute; left:0; right:0; bottom:0; margin:auto; width:60px; height:3px; background:#3762c5;}



.noticebox .tabscontent {padding:15px 20px;display:none;width:100%; text-align:left; }

.noticebox .tabscontent dl{position:relative; overflow:hidden;  margin-bottom:15px;}
.noticebox .tabscontent p.none{text-align:center; color:#969696; line-height:185px; padding:0; margin:0}
.noticebox .tabscontent li a{display:block}
.noticebox .tabscontent dl dt span.date{width:60px; padding:10px 0px; margin-right:10px; float:left; display:block; text-align:center; font-weight:600; font-size:26px; line-height:1; border:1px solid #e6e6e6; border-radius:0 5px; color:#0075c4}
.noticebox .tabscontent dl dt span.date b{font-size:13px; display:block; color:#000000}
.noticebox .tabscontent dl dt span.tit{width:calc(100% - 70px); float:left; display:block; font-size:1.2em; font-weight:500; color:#000000;  text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-top:5px; margin-bottom:5px; }
.noticebox .tabscontent dl dd{width:calc(100% - 70px);float:left;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-weight: 400;}
.noticebox .tabscontent ul li{overflow:hidden; background:url("../img/dot_li.gif") no-repeat 0px 10px; padding-left:7px; margin-bottom:3px;}
.noticebox .tabscontent ul li:last-child{margin-bottom:0px;}
.noticebox .tabscontent ul li .date{width:80px; float:right; text-align:right;}
.noticebox .tabscontent ul li .txt{width:calc(100% - 100px);float:left;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-weight: 400;}


@media all and (min-width:640px) {
    .popup_zone h4{padding:7px 12px;}
    .tabsection{padding:30px 0px}
}

@media all and (min-width:840px) {
    .tabsection{padding:50px 0px}
    .tabsection:after{content:''; display:block; clear:both}
    .tabsection .pdinner{margin-top:-150px}
    .popup_zone{max-width:100%; width:450px; margin-right:3%;  float:left;}
    .noticebox{max-width:100%; width:calc(97% - 450px); float:left;}

    .noticebox .tabscontent{padding:15px 20px;}
}

@media all and (min-width:1200px) {
    .tabsection .pdinner{margin-top:-230px}
    .popup_zone{width:630px; }
    .popup_zone h4{font-size:1.1em; font-weight:600; padding:13px 25px; left:-10px; top:-10px; border-radius:0 20px}
    .noticebox{width:calc(97% - 630px);}

    .noticebox .tabscontent{padding:30px 25px;}

    .noticebox ul.tabs li{line-height:65px;}
    .noticebox .tabscontent{padding:35px 30px}
    .noticebox .tabscontent dl{margin-bottom:25px}
    .noticebox .tabscontent ul li{margin-bottom:5px}
    .noticebox .btn_clink{width:65px; height:65px;}

    .noticebox .tabscontent dl dt span.date{width:80px; height:80px; margin-right:20px; padding-top:17px}
    .noticebox .tabscontent dl dt span.date b{font-size:16px}
    .noticebox .tabscontent dl dt span.tit,
    .noticebox .tabscontent dl dd{width:calc(100% - 100px);}


}

@media all and (min-width:1400px) {
    .noticebox{border-radius:0 20px}
    .tabsection .pdinner{margin-top:-230px}
    .popup_zone{width:770px; border-radius:0 20px}
    .popupbox li{border-radius:0 20px}

    .noticebox{width:calc(97% - 770px);}

    .noticebox ul.tabs li{font-size:1.3em; max-width:140px; line-height:80px}
    .noticebox .tabscontent dl{margin-bottom:40px}
    .noticebox .tabscontent dl dt span.tit{font-size:1.4em; margin-top:20px}
    .noticebox .tabscontent dl dd{font-size:1.2em}
    .noticebox .tabscontent dl dt span.date{font-size:40px; padding:17px 0px; width:100px; height:100px; border-radius:0 20px; }
    .noticebox .tabscontent dl dt span.tit,
    .noticebox .tabscontent dl dd{width:calc(100% - 120px);}

    .noticebox .tabscontent ul li{margin-bottom:9px; font-size:1.06em}

    .noticebox .btn_clink{height:80px; width:80px}
    .noticebox .btn_clink:before{width:2px; height:25px;}
    .noticebox .btn_clink:after{width:25px; height:2px;}
}


/*section01*/
#section01{ padding:35px 0px 15px; text-align:center}
#section01 h3{font-size:1.2em; margin-bottom:20px; font-weight:500; color:#000000;}


.quick_li{ text-align:center; position:relative; z-index:1}
.quick_li:after{content:''; display:block; clear:both}
.quick_li li{width:100px; display:inline-block; vertical-align:middle; ; text-align:center; margin:0 20px; margin-bottom:20px; position:relative}
.quick_li li:before{content:''; display:block; width:70px; height:70px; background:#f4f4f4; border-radius:500px;position:absolute; top:-10px; left:0; right:0; margin:auto;}

.quick_li li img{padding:0px 25px 0px; max-width:100px;  display:block; margin:0 auto; margin-bottom:10px; position:relative}
.quick_li li span{display:block;position:relative;font-weight: 400;}

.quick_li li.tit{display:none}
.quick_li li.tit:before{background:#004c7f; }
.quick_li li.tit span{color:#ffffff; line-height:50px; font-weight:500}

@media all and (min-width:360px) {
    .quick_li li.tit span{color:#ffffff; line-height:50px; font-weight:500}

    .quick_li li{display:block; width:33.33%; margin:0; margin-bottom:20px;  float:left;}
    .quick_li li.tit{display:block}
}

@media all and (min-width:640px) {
    #section01{ padding:45px 0px 35px;}
    .quick_li{max-width:600px; margin:0 auto}
}

@media all and (min-width:840px) {
    #section01{padding:50px 0px}
    .quick_li{max-width:100%;}
    .quick_li li{width:12.5%; margin-bottom:0;}
    .quick_li li img{margin-bottom:20px}
    .quick_li li.tit{display:none}
}

@media all and (min-width:1200px) {
    #section01{padding:90px 0}
    #section01 p{margin-bottom:20px}
    #section01 .left{width:38%; float:left; text-align:left;}
    .in_search{margin:0}
    #section01 .right{width:62%; float:left;}
    #section01 .pdinner:after{content:''; clear:both; display:block;}

    .quick_li{max-width:100%}
    .quick_li li:hover img{-webkit-animation: rotation 1s ease infinite;
        -moz-animation: rotation 1s ease infinite;
        -ms-animation: rotation 1s ease infinite;
        -o-animation: rotation 1s ease infinite;
        animation: rotation 1s ease infinite;}

    .quick_li li img{width:110px; padding:0 15px; margin-bottom:30px}
    .quick_li li{font-size:1.1em}
    .quick_li li:before{width:110px; height:110px; top:-20px}
    .quick_li li span{z-index:1; display:inline-block}
    .quick_li li span:after{content:''; position:absolute; width:30px; height:30px; background:#004c7f url(../img/quick_arrow.png) no-repeat center center; border-radius:500px; z-index:0; left:50%; margin-left:25px; bottom:30px; background-size:15px !important}

}



/*section02*/
#section02{padding-top:0px; position:relative;}
#section02:before{content:''; display:block; position:absolute; left:0; right:0; bottom:0; height:50%; background:#004c7f}

#section02 .section_top{max-width:600px; margin:0 auto; margin-bottom:30px;}


.column_li{position:relative; max-width: 600px; margin:0 auto; margin-bottom:50px;}
.column_li ul:after{content:''; display:block; clear:both;}
.column_li ul li{width:48.5%; float:left; margin-bottom:10px; background:#ffffff;
    background:#ffffff; margin-bottom:10px;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.2);

    border-radius:0 10px; overflow:hidden
}

.column_li ul li:nth-child(odd){margin-right:3%;}

.column_li .photo img{width:100%}
.column_li .info{padding:10px 10px; }
.column_li .info dt{font-weight:500; color:#000000; margin-bottom:5px;padding-bottom:5px; border-bottom:1px solid #e6e6e6; text-align:center; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-size:1.1em}
.column_li .info dd.txt{
    display:none;
    /*
    display:-webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    line-height: 1.3;
    height: 2.6em;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal;
    word-break:break-all;
    margin-bottom:5px;
}

.column_li .info dd.tag{display:block; font-size:0.9em; color:#0077c8;
    display:block;
    display:-webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    line-height: 1.3;
    height: 2.6em;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal;
    word-break:break-all;
}
.column_li .info dd.date{font-size:0.9em; color:#808080; text-align:right}


.column_li ul li .photo{position:relative; padding-bottom:58%; overflow:hidden}
.column_li ul li .photo img{position:absolute; left:0; right:0; top:0; margin:auto;}





/*입주기업 arrow/num */

.column_nav{width:150px;  position:absolute; bottom:-40px; left:50%; margin-left:-75px}
.column_nav .slick-arrow{opacity:1; width:35px; height:35px;border-width:1px; bottom:auto; top:-35px;}
.column_nav .slick-arrow:before{font-weight:normal; font-size:14px;}

.column_nav .slick-dots{position:absolute; width:70px; right:0; top:-35px; line-height:35px; height:35px; right:40px; text-align:center}
.column_nav .slick-dots li{position:absolute; width:100%; height:100%; margin:0; padding:0; display:block; letter-spacing:5px; color:#ffffff}
.column_nav .slick-dots li span.num{display:block; opacity:0; transition:0.3s; text-align:center; font-size:1.2em}
.column_nav .slick-dots li span.num b{font-size:1.1em}
.column_nav .slick-dots li.slick-active span.num{opacity:1; transition:0.3s}



@media all and (min-width:640px) {
    #section02 .section_top{text-align:left; }
    #section02 h3.section_h{text-align:left; display:inline-block; vertical-align:middle; margin-bottom:0 !important; margin-right:10px}
    #section02 .section_top p{display:inline-block; vertical-align:middle;}
    #section02 .section_top p .mEnter{display:inline !important}

    .column_li .info{padding:15px 15px; }
    .column_li .info dt{margin-bottom:10px; padding-bottom:10px; font-size:1.2em}

    .column_nav{bottom:auto; right:0; top:-30px; margin-left:150px}
    .column_nav .slick-dots li{color:#808080;}
    .column_nav .slick-arrow{ border-color:#808080; background:#ffffff}
    .column_nav .slick-arrow:before{color:#808080; }


}

@media all and (min-width:840px) {
    #section02 .section_top{max-width:1500px; padding-left:3%}
    .column_li {max-width:100%}
    .column_li ul li{width:23.5%; margin-right:2% !important}
    .column_li ul li:last-child{margin-right:0 !important}

    .column_nav{left:auto; right:3%; margin-left:0;}

    .column_li .info dd.txt{margin-bottom:15px}
    .column_li .info dt{margin-bottom:15px; padding-bottom:15px}
}


@media all and (min-width:1024px) {

    .column_li {margin-bottom:40px}
    .column_li .info{padding:20px 15px}

    .column_li .info dt span.cate{font-size:13px}

    .column_li ul li{position:relative}
    .column_li ul li:after, .column_li ul li:before,
    .column_li ul li dt:after, .column_li ul li dt:before{
        width: 4px;
        height: 0;
        position: absolute;
        display: block;
        content: "";
        background-color: #1abbb7;
        transition:all 0.2s cubic-bezier(.25,.25,.53,.94);
        z-index:1;
    }

    .column_li ul li:after{width:0px; height:4px;}
    .column_li ul li dt:after{width:0px; height:4px;}

    .column_li ul li:before{width:4px; height:0px;}
    .column_li ul li dt:before{width:4px; height:0px;}

    .column_li ul li:after{left:0; top:0}
    .column_li ul li:before{left:0; bottom:0}

    .column_li ul li dt:after{right:0; bottom:0}
    .column_li ul li dt:before{right:0; top:0; }
    .column_li ul li:hover:after{width:100%}
    .column_li ul li:hover:before{height:100%;}



    .column_li ul li:hover dt:after{width:100%}
    .column_li ul li:hover dt:before{height:100%;}



}

@media all and (min-width:1200px) {
    #section02 .section_top{ padding:0 20px}
    #section02 .section_top p{font-size:1.1em}
    .column_nav{right:20px;}
}



/*관련사이트*/
.related_banner{padding:30px 0px}
.related_box{background:#535d64; position:relative; }
.related_box a{display:block;}
.related_box .photo{display:block; text-align:center;}
.related_box dl{position:relative;}
.related_box dl dt{font-weight:600; font-size:1.2em; margin-bottom:5px}
.related_box dl dd{line-height: 1.4; min-height: 2.8em;}
.related .slick-dots{bottom:auto; top:-45px; right:0; text-align:right}
.related .slick-dots li{width:7px; height:7px;}
.related .slick-dots button{border:0px; width:100%; height:100%; border-radius:500px; background:#ffffff}
.related .slick-dots li.slick-active button{background:#e8c57a}


.quick_banner .slick-list{width:calc(100% - 80px); margin:0 auto}
.quick_banner .slick-arrow{width:35px; height:35px; border:1px solid #e6e6e6; border-radius:500px; top:0; bottom:0; margin:auto}
.quick_banner .slick-arrow:before{font-size:13px; color:#808080}

@media all and (min-width:768px) {
    .related_banner{padding:50px 0px}
    .quick_banner .slick-arrow{width:40px; height:40px;}
    .quick_banner .slick-list{width:calc(100% - 100px); }
}

/*footer*/
#footer{background:#2e353d;  color:#c8c8c8; font-size:0.8em; padding:0px 0px 20px;}

#footer .pdinner,
#footer .inner{max-width:1500px}
/*#footer div{background:url(../img/foot_logo.png) no-repeat right center;}*/
#footer .pdinner:after{content:''; display:block; clear:both; }
#footer .foot_li{margin-bottom:10px; overflow:hidden; text-align:left; clear:both;  padding-top:10px}
#footer .foot_li li{display:inline-block; padding:0 3px;}
#footer .foot_li li a{display:block; line-height:25px;}

#footer p{font-size:0.8em; clear:both; }
#footer p b{font-weight:600; color:#fcc754}

#footer address{padding-bottom:5px;}

/*컬러패스*/
/*#footer .dropdown{float:left; border-right:1px solid #dcdcdc;border-color:rgba(255,255,255,0.2); position:relative; width:46%; background:#555555}*/
#footer .dropdown{border-bottom:1px solid #dcdcdc;border-color:rgba(255,255,255,0.2); position:relative;}
#footer .dropdown.deph02{width:54%;}
#footer .dropbtn {width:100%; text-align:left; display:inline-block; height:auto; position:relative; line-height:50px; padding:0 25px 0 10px; cursor:pointer; color:#ffffff;}
#footer .dropbtn:after{font-family:'FontAwesome'; content:'\f107'; position:absolute; right:10px; color:#ffffff; font-size:14px; top:0; bottom:0; margin:auto;}

#footer .dropdown ul{}
#footer .dropdown ul li{padding:0px 10px; }
#footer .dropmenu {display: none;  position: absolute;  z-index: 5; background:#555555; border:1px solid #555555; box-sizing:content-box; left:-1px; width:100%;  top:-120px; max-height:120px; overflow-y:scroll}
#footer .dropmenu a{display:block; line-height:30px; color:#ffffff; }
#footer .dropmenu a:hover {font-weight:500;}
#footer .dropdown .show {display:block;}



#footer:after{display:block; content:''; clear:both;}

.footinfo{position:relative; overflow:hidden}
.footinfo .box{padding:20px 0px; border-top:1px solid #dcdcdc; border-color:rgba(255,255,255,0.1); text-align:left; }
.footinfo .box h4{font-weight:700; margin-bottom:5px;}
.copy{letter-spacing:0}


@media all and (min-width:540px) {
    .footinfo{ border-top:1px solid #dcdcdc; border-color:rgba(255,255,255,0.1);}
    .footinfo .box{border:0px;}
}


@media all and (min-width:768px) {

    #footer{font-size:0.9em}
    #footer .inner{padding:0 3%;}
    #footer .inner:after{content:''; clear:both; display:block}
    #footer .bottom_li{border-bottom:1px solid #e6e6e6; border-color:rgba(255,255,255,0.1);}
    #footer .relative_li{float:right; border-left:1px solid #dcdcdc; border-color:rgba(255,255,255,0.1);}
    #footer .foot_li{float:left; clear:none; padding:0; margin:0}
    #footer .foot_li li a{line-height:60px;}
    #footer .dropdown{width:auto !important;}
    #footer{padding:0px 0px 30px}
    #footer .foot_li li{text-align:left; padding:0 20px 0 0px;}


    #footer{text-align:left;}


    #footer .dropbtn{padding:0 30px 0 20px; line-height:60px}
    #footer .dropdown ul li{padding:0px 15px; }
    #footer .dropdown{min-width:200px; border-bottom:0; border-right:1px solid #dcdcdc;border-color:rgba(255,255,255,0.1); }
    #footer .dropdown.deph02{min-width:200px}
    #footer .dropmenu a{line-height:40px;}
    #footer .dropbtn:after{right:15px}

    .footinfo{border:0px; padding:0 !important}
    .footinfo .box{ padding:30px 3%;}
    .footinfo .box h4{font-size:1.2em}
    .footinfo .box ul li{display:inline-block; margin-right:10px;}


}

@media all and (min-width:1200px) {
    #footer .dropdown.deph02{min-width:250px}
    #footer .inner{padding:0 20px;}
    .footinfo .box{ padding:30px 20px;}
}


/*page up*/
#pageup {position:fixed; z-index:999; right:1%; bottom:5%; width:50px; height:50px; background-image:url('../img/Htop.png');background-repeat: no-repeat;  background-position:center center; background-size: 50px 50px; display:block !important; cursor:pointer; z-index:4000;}
#sns{position:fixed; z-index:999; right:calc(1% + 5px); bottom:calc(5% + 60px)}
#sns li{width:40px; height:40px; margin-top:5px;}

@media all and (min-width:1200px) {
    #sns{bottom:45%;}
    #sns li{margin-top:20px}
}




/*키프레임셋팅*/

@keyframes zoomout {
    0% { transform: scale(1.2); }
    100% {        transform: scale(1.0);    }
}
@-webkit-keyframes scaling {
    From {    -webkit-transform: scale(1.2);}
    To {    -webkit-transform: scale(1.0);}
}
@-webkit-keyframes bounce-top{0%{-webkit-transform:translateY(-30px);transform:translateY(-30px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-15px);transform:translateY(-15px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-3px);transform:translateY(-3px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-0px);transform:translateY(-0px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}
@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}
@-webkit-keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.1) translateY(-15px);transform:scale(1.1) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}@keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.1) translateY(-15px);transform:scale(1.1) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}



.bounce-top:hover a:before{-webkit-animation:bounce-top .9s both;animation:bounce-top .9s both}
.kenburns-top{-webkit-animation:kenburns-top 10s ease-out both;animation:kenburns-top 10s ease-out both}
.zmout{animation: zoomout 5s ease-in-out infinite alternate;    -webkit-animation: zoomout 5s ease-in-out infinite alternate; animation-iteration-count:1; 	-webkit-animation-iteration-count:1; }
@-webkit-keyframes text-pop-up-top
{0%{-webkit-transform:translateY(0);transform:translateY(0);
    -webkit-transform-origin:50% 50%;transform-origin:50% 50%;}
    100%{-webkit-transform:translateY(-10px);transform:translateY(-10px);
        -webkit-transform-origin:50% 50%;transform-origin:50% 50%;}}
@keyframes text-pop-up-top{0%{-webkit-transform:translateY(0);transform:translateY(0);
    -webkit-transform-origin:50% 50%;transform-origin:50% 50%;}
    100%{-webkit-transform:translateY(-10px);transform:translateY(-10px);
        -webkit-transform-origin:50% 50%;transform-origin:50% 50%;}}



@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}
@keyframes rotation{

    0% {
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}



@-webkit-keyframes rotation2 {
    0% {
        -webkit-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }
}
@keyframes rotation2{

    0% {
        -webkit-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }
}




@-webkit-keyframes rotation3 {
    0% {
        -webkit-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    50% {
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    100% {
        -webkit-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
}
@keyframes rotation3{

    0% {
        -webkit-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    50% {
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    100% {
        -webkit-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
}

.vibrate-1{-webkit-animation:vibrate-1 3s linear infinite both;animation:vibrate-1 3s linear infinite both}
@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    25% {
        -webkit-transform: translate(0px, 4px);
        transform: translate(0px, 4px);
    }
    50% {
        -webkit-transform: translate(0px, -8px);
        transform: translate(0px, -8px);
    }

    75% {
        -webkit-transform: translate(0px, 4px);
        transform: translate(0px, 4px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    25% {
        -webkit-transform: translate(0px, 4px);
        transform: translate(0px, 4px);
    }
    50% {
        -webkit-transform: translate(0px, -8px);
        transform: translate(0px, -8px);
    }

    75% {
        -webkit-transform: translate(0px, 4px);
        transform: translate(0px, 4px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}







/*서브레이아웃*/
body.subWrap #header{box-shadow:none; border-bottom:1px solid #e6e6e6}
#sub_visual{position:relative; padding:30px 0 ; background:url(../img/sub_visual01.jpg) no-repeat center center; background-size:cover !important}


#sub_visual{text-align:center; margin-top:60px;}
#sub_visual .tit_h2{color:#ffffff; font-weight:500; font-size:1.6em; margin-bottom:10px }
#sub_visual .tit_h2 span{display:block;  margin-bottom:10px; font-size:15px; font-weight:800; letter-spacing:0; text-transform:uppercase; position:relative;}
#sub_visual .tit_h2 b{display:block; line-height:1.2}
#sub_visual p{color:#ffffff; font-size:0.9em}

@media all and (min-width:768px) {
    #sub_visual .tit_h2{font-size:2em; }

    #sub_visual p{font-size:1em}
    #sub_visual .tit_h2 span:after{position:absolute; right:0; top:0; margin:0}
}

@media all and (min-width:1200px) {
    body.subWrap #header{border-bottom:0px}
    #sub_visual{margin-top:135px}
    #sub_visual .tit_h2{font-size:2.2em;}

}


.subwrap{background:#ffffff; max-width:1500px; margin:0 auto}
.sub_con{margin:0 auto; position:relative;  min-height:200px;   overflow:hidden; }
.sub_con:after{content:''; clear:both; display:block}

.sub_con .con{padding:0 3% 30px}

.path{display:block;}
.path li{font-size:12px; display:inline-block; vertical-align:top;}
.path li:before{content:'\f105'; font-family:'FontAwesome'; display:inline-block; padding:0px 10px}
.path li:first-child:before{display:none;}


.sub_title{padding:20px 3%; border-bottom:1px solid #e6e6e6; margin-bottom:30px; position:relative; overflow:hidden}
.sub_title ul{ position:absolute; height:30px; right:3%; top:0; bottom:0; margin:auto; }
.sub_title ul li{text-align:center; background:#15126e; border-radius:500px; width:30px; height:30px;  padding:8px;}
.sub_title ul li img{}
.sub_title h3{font-weight:500; font-size:1.4em; color:#000000}

@media all and (min-width:1200px) {
    .sub_title ul{right:20px}
}

/*레프트2차메뉴*/
#sidemenu {display:none;float: left; /*position:fixed;*/width:260px;  z-index:10; top:auto;} /*기준*/
#sidemenu h2 {display:block;font-size:1.5em; text-align:center; line-height:1.2;  color:#fff; min-height:100px; padding:42px 0; /*background:rgba(90,19,40,0.8);*/ background:#004c7f; position:relative;  }
#sidemenu h2 span {display:block; font-size:15px; margin-bottom:10px; letter-spacing:0;}

#sidemenu .snblist{border:1px solid #e6e6e6; border-width:0 1px 1px; background:#ffffff}
#sidemenu .snblist li > a {position:relative; display: block; padding:17px 20px; font-weight:400; border-bottom:1px solid #e6e6e6; color:#323232; font-size:1.05em}
#sidemenu .snblist li:last-child > a{border-bottom:0px;}
#sidemenu .snblist li a[target='_blank']:after {font-family: 'FontAwesome'; font-size:11px; display:inline-block; content:"\f08e"; margin: 0 0 2px 5px; vertical-align: middle;}
#sidemenu .snblist li a:hover {text-indent:5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease; color:#303030; transition:0.3s}
#sidemenu .snblist li a.active {color:#004c7f; font-weight:500}
#sidemenu .snblist li a.active:after {
    position: absolute;
    top: 43%;
    right: 10px;
    width:7px;
    height:7px;
    border-radius:80px;
    background:#004c7f;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: FontAwesome;
    content: "";
    font-style:normal;
    color:#808080
}
#sidemenu .snblist li a:hover i:after{right: 7px;}
#sidemenu .snblist li.active a:hover i:after{right:7px;}


#sidemenu .snblist li a i:after {background:rgba(255,255,255,0)}

#sidemenu .snblist li a:hover i:after {
    -webkit-transform: translateY(-50%) translateX(20%);
    -moz-transform: translateY(-50%) translateX(20%);
    -ms-transform: translateY(-50%) translateX(20%);
    -o-transform: translateY(-50%) translateX(20%);
    transform: translateY(0) translateX(20%);
    color:#fff;
    background:rgba(255, 255, 255, 1);
}

#sidemenu .snblist li.select a:hover i:after {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    color:#fff;
    background:rgba(255, 255, 255, 1);
}


#sidemenu .snblist .has_sub{display:none; background:#f8f8f8; padding:10px 0px; border-bottom:1px solid #e6e6e6}
#sidemenu .snblist .has_sub.on{display:block;}
#sidemenu .snblist .has_sub.on li.select a{color:#006fba}
#sidemenu .snblist .has_sub li a{padding:8px 0px 8px 20px; border-bottom:0px; font-size:1em }

@media all and (min-width:768px) {

    .subwrap{background-size:30% !important}
    #sub_visual{padding:40px 0px 50px;}

    .path li{font-size:14px}

    .sub_title{padding:25px 3%; }
    .sub_title h3{font-size:1.6em}
    .sub_con .con{font-size: 1.1em;}
}

@media all and (min-width:1200px) {
    #sidemenu{display:block}

    #sub_visual{padding:60px 0px 100px;}
    .subwrap{margin: 0 20px; margin-top:-55px; position:relative; }
    .subwrap:after{content:''; display:block; clear:both;}

    .sub_title{padding:30px 20px 30px 50px; margin-bottom:50px}
    .sub_title h3{font-size:1.8em}

    .sub_con{position:relative; width:calc(100% - 260px); float:left; min-height:600px; }
    .sub_con .con{padding:0 20px 50px 50px}

}

@media all and (min-width:1540px) {
    .subwrap{margin: 0 auto; margin-top:-55px}
}





/*컬러패스*/
#sub_drop{width:100%; left:0; right:0; border-bottom:1px solid #e6e6e6;  font-size:0.9em}
#sub_drop .inner:after{content:''; display:block; clear:both}
#sub_drop .home a{display:block; line-height:45px;  background:#006fba; text-align:center}
#sub_drop .home{border:0px !Important;  background:#006fba;  width:40px !important; }
#sub_drop .home img{display:inline-block; vertical-align:middle; max-width:10px}
#sub_drop .dropdown{width:calc(51% - 20px); max-width:250px; float:left; border-right:1px solid #e6e6e6; position:relative;}
#sub_drop .dropdown.deph02{width:calc(49% - 20px);}
#sub_drop .dropbtn {width:100%; text-align:left; display:inline-block; height:auto; position:relative; line-height:45px; padding:0 20px 0 10px; cursor:pointer; }
#sub_drop .dropbtn:after{font-family:'FontAwesome'; content:'\f107'; position:absolute; right:7px;  font-size:14px; top:0; bottom:0; margin:auto;  transition:0.3s; }
#sub_drop .dropdown.active a.dropbtn:after{ -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg)}

#sub_drop .dropdown ul{}
#sub_drop .dropdown ul li{padding:5px 10px; }
#sub_drop .dropmenu {display: none;  position: absolute;  z-index: 5; background:#ffffff; border:1px solid #e6e6e6; border-top:0; box-sizing:content-box; left:-1px; width:100%;}
#sub_drop .dropmenu a{display:block; line-height:30px; }
#sub_drop .dropmenu a:hover {color:#1c3f95; font-weight:500;}
#sub_drop .dropdown > .dropmenu li{position:relative;}
#sub_drop .dropdown > .dropmenu li a{display: block;}
#sub_drop .dropdown.active > .dropmenu {display:block;}

#sub_drop:after{display:block; content:''; clear:both;}

@media all and (min-width:768px) {
    #sub_drop{font-size:1em}
    #sub_drop .dropbtn{padding:0 25px 0 20px}
    #sub_drop .dropdown ul li{padding:0px 20px; }
    #sub_drop .dropdown.deph02{min-width:200px}

    #sub_drop .dropmenu a{line-height:35px;}
    #sub_drop .home{width:50px !important;}
    #sub_drop .home a{line-height:50px;  text-align:center; }
    #sub_drop .dropbtn {line-height:50px}
    #sub_drop .dropbtn:after{right:15px}

    #sub_drop .dropdown{width:calc(55% - 25px); }
    #sub_drop .dropdown.deph02{width:calc(45% - 25px);}

}

@media all and (min-width:1200px) {
    #sub_drop{font-size:1em;}
    #sub_drop .inner{position:static}

    #sub_drop .dropdown.deph02{min-width:200px}
    /*#sub_drop .dropmenu{border:0px; background:#225999; color:#ffffff}
    #sub_drop .dropdown.active a.dropbtn,
    #sub_drop .dropbtn.has-focus{background:#225999; border:0px; color:#ffffff}

    #sub_drop .dropmenu a{color:#ffffff}*/
    #sub_drop .dropdown.active a.dropbtn,
    #sub_drop .dropbtn.has-focus{background:#ffffff;border-bottom:0px; z-index:10 }
    #sub_drop .dropmenu{background:#ffffff; border-top:1px solid #dcdcdc; margin-top:-1px; z-index:5}

    #sub_drop .dropmenu a:hover{color:inherit; text-decoration:underline}
    #sub_drop .dropdown > .dropmenu li{display:block; padding:0 20px;}

    #sub_drop .home a{line-height:55px; min-width:50px; text-align:center; }
    #sub_drop .dropbtn {line-height:55px}
}




/*텍스트효과*/

.motion01{animation-name:sub_tt;animation-duration:1000ms;animation-fill-mode:both;animation-delay:200ms;animation-timing-fonction:ease-out;}
.motion02{animation-name:sub_tt;animation-duration:1000ms;animation-fill-mode:both;animation-delay:200ms;animation-timing-fonction:ease-out;}

/* Chrome, Safari, Opera */
@-webkit-keyframes sub_tt {
    0%   {top: 30px; opacity: 0;}
    100% {top: 0; opacity: 1;}
}
/* Standard syntax */
@keyframes sub_tt {
    0%   {top: 30px; opacity: 0;}
    100% {top: 0px; opacity:1;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes sub_tt {
    0%   {top: 30px; opacity: 0;}
    100% {top: 0; opacity: 0;}
}
/* Standard syntax */
@keyframes sub_tt {
    0%   {top: 30px; opacity: 0;}
    100% {top: 0px; opacity: 1;}
}



@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
@-webkit-keyframes jello-vertical{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-vertical{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
@-webkit-keyframes text-pop-up-bottom{
    0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}
    100%{-webkit-transform:translateY(10px);transform:translateY(10px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;}
}
@keyframes text-pop-up-bottom
{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}
    100%{-webkit-transform:translateY(10px);transform:translateY(10px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;}
}

@media all and (max-width:1200px) {
    #layerPopup0{top:100px !Important; left:0 !Important;}
    #layerPopup1{top:435px !Important; left:0 !Important;}
    #layerPopup2{top:770px !Important; left:0 !Important;}
    #layerPopup3{top:1105px !Important; left:0 !Important;}
    #layerPopup4{top:1440px !Important; left:0 !Important;}
    #layerPopup5{top:1775px !Important; left:0 !Important;}
}


/*페이지 에러박스*/
.errorbox{border:10px solid #f9f9f9; padding:80px 20px 50px; position:relative;}
.errorbox h1{position:absolute; left:3%; top:5%; width:200px;}
.errorbox h1 img{width:100%;}
.errorbox .txt{position:relative; text-align:center;}
.errorbox .txt h2{font-size:2.5em; color:#e6e6e6; font-weight:600; line-height:1.05; margin-bottom:30px;}
.errorbox .txt h2:before{display:block;font-family:'FontAwesome'; content:'\f071'; font-size:1.4em; }
.errorbox .txt p{margin-bottom:30px;}
.errorbox .txt .ic_back{display:inline-block; padding:13px 20px; border-radius:5px; background:#1a0182; color:#ffffff; font-family:inherit}
.errorbox .txt .ic_back:before{display:inline-block;font-family:'FontAwesome'; content:'\f060'; margin-right:5px;}

@media all and (min-width:768px) {
    .errorbox{margin: 60px auto; max-width:700px;}
}

@media all and (min-width:1200px) {
    .errorbox{font-size:1.5em}
    .errorbox .txt .ic_back{font-size:0.8em; padding:15px 25px}
}



/*페이지 준비중입니다.*/
.readybox{border:10px solid #f9f9f9; padding:50px 20px 80px; position:relative;}
.readybox h4{position:absolute; left:0%; right:0%; bottom:5%; margin:auto; width:200px;}
.readybox h4 img{width:100%;}
.readybox .txt{position:relative; text-align:center;}
.readybox .txt h5{font-size:2em; color:#e6e6e6; font-weight:600; line-height:1.2; margin-bottom:30px;}
.readybox .txt h5:before{display:block;font-family:'FontAwesome'; content:'\f11a'; font-size:3em; }
.readybox .txt p{margin-bottom:30px;}
.readybox .txt .ic_back{display:inline-block; padding:13px 20px; border-radius:5px; background:#1a0182; color:#ffffff; font-family:inherit}
.readybox .txt .ic_back:before{display:inline-block;font-family:'FontAwesome'; content:'\f060'; margin-right:5px;}

@media all and (min-width:768px) {
    .readybox{ }
}

@media all and (min-width:1200px) {
    .readybox{font-size:1.3em}
    .readybox .txt .ic_back{font-size:0.8em; padding:15px 25px}
}
