
/*공통*/
.btn_sumit{background:#1a42b2; color:#ffffff !important; border-color:#1a42b2 !Important;}
.btn_srch:before{content:'\f002'; font-family:'FontAwesome'; font-size:15px; margin:0px 3px;}
.btn_cal:before{content:'\f073'; font-family:'FontAwesome'; font-size:15px; margin:0px 3px;}
.btn_save:before{text-indent:0; content:'\f0c7'; font-family:'FontAwesome'; font-size:15px; margin:0px 3px; font-weight:bold; color:#1a42b2}
.btn_view:before{text-indent:0; content:'\f002'; font-family:'FontAwesome'; font-size:15px; margin:0px 3px; font-weight:bold;  color:#1a42b2}

.in{padding:0.45em 0;}
.mr20{margin-right:20px;}
.mr10{margin-right:10px;}
.ml10{margin-left:10px;}
.dpi{display:inline-block; vertical-align:top;}

.fl{float:left;}
.mb5{margin-bottom:5px;}
.pd_txt{padding:10px 0px}
.w100{width:100%}
.w70{width:70%}
.w60{width:60%}
.w80{width:80%}
.w20{width:20%;}
.w10{width:10%;}
.w30{width:30%;}
.w40{width:40%;}

.cb{clear:both;}
input.w-col{width:80px !important;}
input.w-col05{width:20% !important;}
input.w-col04{width:25% !important;}
input.w-col03{width:30.3% !important}
input.w-col02{width:47% !important}

input.w-col01{width:100% !important;}
input.w60{width:60% !important}
input.auto{width:auto !important}

.ad-btn{background:#132f62; color:#ffffff ;border:0;}
.fwb{font-weight:500}
.mt10{margin-top:10px;}

/*회원가입절차*/
.joinstep{position:relative;}
.joinstep ul{overflow:hidden; border:1px solid #e6e6e6; border-top:1px solid #617599}
.joinstep ul li{float:left; width:25%; text-align:center; padding:7px 0px 10px; border-right:1px solid #e6e6e6; background:#ffffff; position:relative}
.joinstep ul.list03 li{width:33.33%;}
.joinstep ul li:last-child{border:0px;}
.joinstep ul li.on{background:#006fba; color:#ffffff; font-weight:500; border-right:0px}
.joinstep ul li.on:after{content:''; display:block; position:absolute; z-index:1; right:-20px; top:50%; margin-top:-10px; border-width:10px;  border-style:solid; border-color:transparent transparent transparent #006fba;}
.joinstep ul li:last-child.on:after{display:none}


.joinstep ul li .txt{display:block; font-size:0.9em}
.joinstep ul li .st{text-align:center; text-transform:uppercase; line-height:100%; font-size:0.9em}
.joinstep ul li .st em{display:inline-block}
.joinstep ul li .st {display:inline-block; ; padding:3px 5px; border:1px solid #c8c8c8; border-radius:500px; font-size:0.7em; margin-bottom:5px}
.joinstep ul li.on .txt{font-weight:500}

@media all and (min-width:768px) {
.joinstep ul li{padding:10px 0px 12px}
.joinstep ul li .txt{display:block; font-weight:500; font-size:1.1em}
.joinstep ul li .st {display:inline-block; width:60px;}
.joinstep ul li.on .st {border-color:#ffffff}

}


/*인증선택*/

.Identity ul.tabs{overflow:hidden;}
.Identity ul.tabs li{ line-height:45px; width:calc(50% - 2px); float:left; background:#f9f9fa; text-align:center; position:relative; cursor:pointer; border:1px solid #e6e6e6; margin: 0 1px}
.Identity ul.tabs.list03 li{width:calc(33.33% - 2px);}
.Identity ul.tabs li:first-child:before{display:none}
.Identity ul.tabs li.current{background:#006fba; color:#ffffff; border-color:#006fba}
.Identity .tabscontent{border:1px solid #e6e6e6; border-top:1px solid #006fba; padding:50px 10%}

.Identity .tabscontent a.btn_link{display:block; text-align:center; max-width:400px; margin:0 auto}

.input_li{max-width:400px; margin:0 auto; }
.input_li li{line-height:40px; position:relative; margin-bottom:5px; overflow:hidden;}
.input_li li:last-child{margin-bottom:0px;}
.input_li li span{display:block; line-height:40px; width:80px; font-weight:500; float:left;}
.input_li li input,
.input_li li select{float:left; line-height:40px; height:40px; width: calc(100% - 80px)}

.result_txt p{padding-top:40px; text-align:center}


@media all and (min-width:768px) {
.Identity ul.tabs li{max-width:200px;}
.input_li li span{width:100px;}
.input_li li input,
.input_li li select{width: calc(100% - 100px)}


}






/*버튼스타일*/
.btn_li a.btn_link{min-width:250px; line-height:55px; height:55px; padding:0 10px}
.btn_link{display:inline-block; padding:10px 20px; color:#ffffff; background:#1a42b2; }

.btn_li ul{overflow:hidden;}
.btn_li ul li{float:left; width:50%; padding:0 10px;}
.btn_li ul li a.btn_link{min-width:auto;  width:100%; max-width:250px;}
.btn_gr{background:#65768a}
.bdbt{padding-bottom:30px; margin-bottom:30px; border-bottom:1px dashed #c8c8c8}
.btn_plp{background:#617599}

@media all and (min-width:768px) {
.btn_li ul{text-align:center;}
.btn_li ul li{display:inline-block; float:none; width:auto}
.btn_li ul li a.btn_link{min-width:200px; }

.bdbt{padding-bottom:40px; margin-bottom:40px; }
}

@media all and (min-width:1200px) {
.bdbt{padding-bottom:50px; margin-bottom:50px; }
}

/*체크박스커스텀*/
.agreebox{padding:20px; height:250px; overflow-y:scroll; border:1px solid #ddd; border-bottom:0px;}
.agree_check{margin:0 auto;  border:1px solid #ddd; line-height:50px; padding:0 3%; position:relative;}
.agree_check > input{position:absolute;left:0;top:0;opacity:0;width:0;height:0}
.agree_check > label{padding-left:35px;display:inline-block; height:25px;line-height:25px;margin-left:0; color:#1c1c1c;background-repeat:no-repeat;background-position:left; background-image:url('../img/check.png');background-size:25px 50px;cursor:pointer; background-position:0 0}
.agree_check > input:checked + label{background-position:left -25px;}

.checkwrap{margin:0 auto; position:relative;}
.checkwrap > input{position:absolute;left:0;top:0;opacity:0;width:0;height:0}
.checkwrap > label{padding-left:35px;display:inline-block; height:25px;line-height:25px;margin-left:0; color:#1c1c1c;background-repeat:no-repeat;background-position:left; background-image:url('../img/check.png');background-size:25px 50px;cursor:pointer; background-position:0 0}
.checkwrap > input:checked + label{background-position:left -25px;}


@media all and (min-width:768px) {
.agree_check{padding:0 20px}
}


/*회원가입*/
/*양식*/

.form_box{margin:0 auto;}
.form_box h4{font-size:1.2em; font-weight:500}
.form_box h4 span{display:inline-block; margin-left:10px; font-size:14px; font-weight:normal}
.form_box ul{overflow:hidden; border-top:1px solid #808080; }
.form_box li{overflow:hidden; border-bottom:1px solid #e6e6e6; }
.form_box li .fm_list{padding:0px 5px; display:block; font-size:0.9em; padding:.750em 0 0px; font-weight:500; color:#000000}
.form_box li .fm_txt{display:block; padding:0px 5px; font-size:0.9em; padding:.750em 0;}
.form_box li .fm_txt input{width:100%;  height:45px; line-height:45px;}
.form_box li .fm_txt button{line-height:45px; height:45px}
.form_box li .fm_txt .txtin{line-height:45px; height:45px;}
.form_box li .fm_txt #set_datetime{font-size:1.1em}
.form_box li .btn_change input.op0{display:none;}
.form_box li .btn_change .radio_label{display:inline-block; height:45px; line-height:45px; padding:0 15px; border:1px solid #e6e6e6; min-width:95px; text-align:center;}
.form_box li .btn_change input:checked + .radio_label{background-color:#1a0182; border-color:#1a0182;color:#fff}

.btn_change input.op0{display:none;}
.btn_change .radio_label{display:inline-block; height:45px; line-height:45px; padding:0 20px; border:1px solid #e6e6e6; min-width:100px; text-align:center; background:#ffffff}
.btn_change input:checked + .radio_label{background-color:#1a0182; border-color:#1a0182;color:#fff}

.form_box li .fm_txt.half-col em{display:inline-block; width:6%; text-align:center }

.form_box li .fixsize input{width:150px !important}
.form_box li.long .fm_list{border-bottom:1px solid #e6e6e6;}
.form_box li.long .fm_list, .form_box li.long .fm_txt{width:100%}

.form_box li.long input{width:auto}
.form_box li.long input.w60{width:60%}

.form_box li select.busi_type_select{width:50%; line-height:45px; height:45px}
.form_box li input.busi_type_in{margin-top:5px}

.form_box li select.mentor_type_select{width:100%; line-height:45px; height:45px}
.form_box li input.memtor_type_in{margin-top:5px}

.form_box span.sp_txt{ display:inline-block; vertical-align:top; line-height:45px;}
.form_box .select_date{font-weight:700; font-size:1.1em}
.form_box .agree_check{background:#ffffff}

.btn_in a{display:block; line-height:55px; height:55px; padding:0 20px; background:#006fba; color:#ffffff; text-align:center;}


@media all and (min-width:768px) {
.form_box li{border-bottom:0px;}
.form_box li:last-child{border-bottom:1px solid #e6e6e6}
.form_box li .fm_list,
.form_box li .fm_txt{float:left; width:75%;}
.form_box li .fm_list, .form_box li .fm_txt{font-size:1em;}
.form_box li .fm_list{width:25%; padding:1em; max-width:200px; line-height:45px}
.form_box li .fm_txt{padding:1em}

.form_box li .fm_list b.fm_list_txt{display:block; font-size:0.9em}
.form_box span.sp_txt{margin-left:10px;}
.form_box li .fm_txt input{width:auto}
.form_box li .fm_txt input.mid_input{min-width:400px}

.form_box li .fm_txt.half-col input{max-width:200px;}
.form_box li .fm_txt.half-col em{max-width:20px}

.form_box li select.busi_type_select{width:45%;}
.form_box li input.busi_type_in{margin-top:0px; width:50%}

.form_box li select.mentor_type_select{width:45%; margin-top:0}
.form_box li input.memtor_type_in{width:50%}

.btn_in a{display:inline-block; padding:0 50px}

.pop_sns ul{overflow:hidden; max-width:600px;}
.pop_sns ul li{width:30.33%; margin:0 1.5%; float:left}
.pop_sns ul li a{line-height:1.5; padding:20px 0 30px; border-radius:5px; height:auto; text-align:center; font-size:1.1em}
.pop_sns ul li a:before{display:block; position:relative; width:100px; height:100px; margin:0 auto; margin-bottom:10px; padding-bottom:10px;  border:0px; border-bottom:1px solid #ffffff; border-color:rgba(255,255,255,0.3); background-size:100% !Important;}
.pop_sns ul li a.btn_kakao:before,
.pop_sns ul li a.btn_google:before{border-color:rgba(0,0,0,0.3)}
}

@media all and (min-width:1200px) {
.form_box li .fm_txt input.w-col01{}
}

.pop_sns ul{max-width:350px; margin:0 auto}
.pop_sns ul li{margin-bottom:10px;}
.pop_sns ul li:last-child{margin-bottom:0px;}
.pop_sns ul li a{display:block; line-height:40px; height:40px; color:#ffffff; background:#808080; border-radius:5px; padding:0 20px; padding-left:60px; position:relative}
.pop_sns ul li a:before{content:''; display:inline-block; width:40px; height:40px; border-right:1px solid #ffffff; border-color:rgba(255,255,255,0.3); position:absolute; left:0; top:0; bottom:0; margin:auto; background-size:30px !important;}
.pop_sns ul li a.btn_naver{background:#2db400; }
.pop_sns ul li a.btn_facebook{background:#3b5999; }
.pop_sns ul li a.btn_kakao{background:#fbdd01; color:#340606; }
.pop_sns ul li a.btn_google{background:#e6e6e6; color:#000000; }

.pop_sns ul li a.btn_naver:before{background:url(../img/btn_naver.png) no-repeat center center}
.pop_sns ul li a.btn_facebook:before{background:url(../img/btn_facebook.png) no-repeat center center}
.pop_sns ul li a.btn_kakao:before{background:url(../img/btn_kakao.png) no-repeat center center}
.pop_sns ul li a.btn_google:before{background:url(../img/btn_google.png) no-repeat center center}



/*라이트박스*/
.popinfo{background:#ffffff;}
.popinfo h1{background:#2450ce; color:#ffffff; font-size:1.2em; padding:15px; letter-spacing:-2px; position:relative}
.popinfo h1:after{content:''; width:100px; height:32px; background:url(../img/logo_w.png) no-repeat center center; background-size:100% !Important; opacity:0.3;  position:absolute; right:15px; top:0; bottom:0; margin:auto}

.popinfo .popcon{padding:20px 3%;}

@media only screen and (min-width: 768px) {
.popinfo h1{font-size:1.4em;}
.popinfo .popcon{padding:30px;}
}

@media only screen and (min-width: 1200px) {
.popinfo h1{padding:20px;}
.popinfo .popcon{padding:40px;}

}

/*회원가입선택*/
.join_select{position:relative; overflow:hidden; margin:0 auto; }
.join_select .box{text-align:center; padding:30px 20px; max-width:400px; margin:0 auto; margin-bottom:20px; position:relative;  border:1px solid #e6e6e6; background:#ffffff}



.join_select .box h4{margin-bottom:20px; position:relative; font-size:1.3em; color:#1a0182; font-weight:500 }
.join_select .box h4 img{max-width:100px; margin-bottom:20px; position:relative;}
.join_select .box h4 span{display:block; position:relative}
.join_select .box h4:before{content:''; width:130px; height:130px; background:#f5f5fa; position:absolute; display:block; left:0; right:0; bottom:0; top:0; margin:auto; border-radius:500px}
.join_select .box p{max-width:290px; margin:0 auto; margin-bottom:20px; position:relative}
.join_select .box a{display:inline-block; min-width:120px; max-width:180px; width:100%; line-height:45px; height:45px; }
/*.join_select .box a.link{margin-bottom:10px; display:block; position:relative; max-width:100%}
.join_select .box a.link:after{content:'\f08e'; display:inline-block; margin-left:5px; vertical-align:middle; font-family:'FontAwesome'; font-size:0.8em;  }
*/

.join_select .box input.input_txt{line-height:45px; height:45px; margin-bottom:10px}

@media all and (min-width:768px) {
.join_select {text-align:center}
.join_select .box{display:block; width:31.33%;  margin:0 1%; float:left;}

.join_select.join_select_one .box{width:100%; float:none;}

}

@media all and (min-width:1200px) {
.join_select .box h4{font-size:1.4em}
.join_select .box{padding:40px 0px}


.join_select .box:after, .join_select .box:before,
.join_select .box a:after, .join_select .box a:before{
  width: 2px;
  height: 0;
  position: absolute;
  display: block;
  content: "";
  background-color: #1a0182;
  transition:all 0.2s cubic-bezier(.25,.25,.53,.94);
}
.join_select .box:after{width:0px; height:2px;}
.join_select .box a:after{width:0px; height:2px;}

.join_select .box:before{width:2px; height:0px; top:0}
.join_select .box a:before{width:2px; height:0px;}

.join_select .box:after{left:0; top:0}
/*.join_select .box a:before{left:0; bottom:0}*/

.join_select .box a:after{right:0; bottom:0}
.join_select .box a:before{right:0; top:0; }
.join_select .box:hover:after{width:100%}
.join_select .box:hover:before{height:100%;}



.join_select .box:hover a:after{width:100%}
.join_select .box:hover a:before{height:100%;}

}

/*인증*/
.certi{position:relative; overflow:hidden; margin:0 auto; }
.certi .box{text-align:center; padding:30px 20px; margin-bottom:20px; position:relative;  border:1px solid #e6e6e6; background:#ffffff}



.certi .box h4{margin-bottom:10px; position:relative; font-size:1.3em; color:#000000; font-weight:500 }
.certi .box h4 img{max-width:100px; margin-bottom:20px; position:relative;}
.certi .box h4 span{display:block; position:relative}
.certi .box h4:before{content:''; width:130px; height:130px; background:#f5f5fa; position:absolute; display:block; left:0; right:0; bottom:0; top:0; margin:auto; border-radius:500px}
.certi .box p{max-width:290px; margin:0 auto; margin-bottom:20px; position:relative}
.certi .box a{display:inline-block; min-width:120px; max-width:180px; width:100%; line-height:45px; height:45px; border-radius:5px}
/*.certi .box a.link{margin-bottom:10px; display:block; position:relative; max-width:100%}
.certi .box a.link:after{content:'\f08e'; display:inline-block; margin-left:5px; vertical-align:middle; font-family:'FontAwesome'; font-size:0.8em;  }
*/

.certi .box input.input_txt{line-height:45px; height:45px; margin-bottom:10px}

@media all and (min-width:640px) {
.certi {text-align:center}
.certi .box{display:inline-block; width:260px;  margin:0 10px;}

.certi.certi_one .box{width:100%; float:none;}

}

@media all and (min-width:1200px) {
.certi .box h4{font-size:1.6em}
.certi .box{width:320px;  padding:40px 0px}


.certi .box:after, .certi .box:before,
.certi .box a:after, .certi .box a:before{
  width: 2px;
  height: 0;
  position: absolute;
  display: block;
  content: "";
  background-color: #1abbb7;
  transition:all 0.2s cubic-bezier(.25,.25,.53,.94);
}
.certi .box:after{width:0px; height:2px;}
.certi .box a:after{width:0px; height:2px;}

.certi .box:before{width:2px; height:0px; top:0}
.certi .box a:before{width:2px; height:0px;}

.certi .box:after{left:0; top:0}
/*.certi .box a:before{left:0; bottom:0}*/

.certi .box a:after{right:0; bottom:0}
.certi .box a:before{right:0; top:0; }
.certi .box:hover:after{width:100%}
.certi .box:hover:before{height:100%;}



.certi .box:hover a:after{width:100%}
.certi .box:hover a:before{height:100%;}

}





/*가입완료*/

.result_top{text-align:center;}
.result_top h3{font-size:1.5em; letter-spacing:-1.5px; font-weight:500; color:#000000}
.result_top p{font-size:1.1em}



@media all and (min-width:768px) {
.result_top h3{font-size:2em;}
}

@media all and (min-width:1200px) {
.result_top h3{font-size:2.3em; }
.result_top p{font-size:1.3em}

.mem_login .login_box.result_join{width:100%; float:none;}
.mem_login .result_join:after{display:none}

}




/*로그인*/


.mem_login{position:relative; }

.mem_login .login_box {padding: 30px 5% 30px 5%; overflow: hidden; position:relative; background:#ffffff;  border:1px solid #e6e6e6}
.mem_login .login_box:before{content:''; width:100%; height:1px; position:absolute; left:0; top:0px; background:#323232; z-index:0}
.mem_login .login_box:after{content:''; width:20%; height:1px; position:absolute; left:0; top:0px; background:#617599; z-index:1}


.mem_login .login_form{background:#ffffff; overflow:hidden; max-width:500px; margin:0 auto; margin-bottom:20px}
.mem_login .login_form ul{overflow:hidden; float:left; width:calc(100% - 110px);}
.mem_login .login_form ul li{overflow:hidden; margin-bottom:10px;}
.mem_login .login_form ul li:last-child{margin-bottom:0;}
.mem_login .login_form ul li label{ display:none;}
.mem_login .login_form ul li input{width:100%; float:left;}
.mem_login .login_form .btn-login{ float:right;background-color:#006fba; width:90px; height:82px;border:0;color:#fff;padding: 0 10px; font-weight:500; font-size:1em; text-align:center; border-radius:5px;}

.log_lst{ overflow:hidden;}
.log_lst li{ float:left; padding-right:25px; position:relative; }
.log_lst li a{ color:#505050; font-size:0.9em;}
.log_lst li a:after{content:'\f105'; font-family:'FontAwesome'; display:inline-block; margin-left:10px; line-height:100%; vertical-align:middle; color:#969696}

.mem_login .join_box {border:1px solid #e6e6e6; padding: 20px 5%;overflow: hidden; margin-top:30px; background:#ffffff; }
.mem_login .join_box .inner{overflow:hidden; max-width:500px; margin:0 auto}
.mem_login .join_box .btn_join{display:block; background:#1047a6;  width:100%;height:44px; line-height:44px; font-size:1em; color:#fff;font-weight:500; text-align:center; margin-top:12px; border-radius:5px;}

.mem_login .sns_box{ padding: 30px 5% 30px 5%; margin-top:30px; overflow: hidden; position:relative; background:#ffffff;  -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.2);
box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.2);}

.mem_login .sns_box h4{font-weight:500; text-align:center; font-size:1.2em; color:#000000; margin-bottom:10px; }
.mem_login .sns_box h4:before,
.mem_login .sns_box h4:after{content:''; width:40px; height:1px; display:inline-block; background:#505050; margin:0 10px; vertical-align:middle}
.mem_login .sns_box ul{max-width:350px; margin:0 auto}
.mem_login .sns_box ul li{margin-bottom:10px;}
.mem_login .sns_box ul li:last-child{margin-bottom:0px;}
.mem_login .sns_box ul li a{display:block; line-height:40px; height:40px; color:#ffffff; background:#808080; border-radius:5px; padding:0 20px; padding-left:60px; position:relative}
.mem_login .sns_box ul li a:before{content:''; display:inline-block; width:40px; height:40px; border-right:1px solid #ffffff; border-color:rgba(255,255,255,0.3); position:absolute; left:0; top:0; bottom:0; margin:auto; background-size:30px !important;}
.mem_login .sns_box ul li a.btn_naver{background:#2db400; }
.mem_login .sns_box ul li a.btn_facebook{background:#3b5999; }
.mem_login .sns_box ul li a.btn_kakao{background:#fbdd01; color:#340606; }
.mem_login .sns_box ul li a.btn_google{background:#e6e6e6; color:#000000; }

.mem_login .sns_box ul li a.btn_naver:before{background:url(../img/btn_naver.png) no-repeat center center}
.mem_login .sns_box ul li a.btn_facebook:before{background:url(../img/btn_facebook.png) no-repeat center center}
.mem_login .sns_box ul li a.btn_kakao:before{background:url(../img/btn_kakao.png) no-repeat center center}
.mem_login .sns_box ul li a.btn_google:before{background:url(../img/btn_google.png) no-repeat center center}

@media all and (min-width:540px) {
.mem_login .login_box{padding:50px 10%}
.mem_login .login_form ul{overflow:hidden; float:left; width:70%;}
.mem_login .login_form ul li{overflow:hidden; margin-bottom:10px;}
.mem_login .login_form ul li:last-child{margin-bottom:0;}
.mem_login .login_form ul li label{width:22%; display:block; font-weight:500; margin-right:3%; float:left; line-height:40px; height:40px}
.mem_login .login_form ul li input{width:75%; float:left; line-height:40px; height:40px}
.mem_login .login_form .btn-login{width:110px; height:90px;}



.log_lst{max-width:500px; margin:0 auto; margin-left:17.5%}

.mem_login .join_box {border:1px solid #e6e6e6; padding: 40px 10% 30px 10%;overflow: hidden; margin-top:30px;}
.mem_login .join_box p{float:left; width:70%; padding-top:20px; line-height:1.6}
.mem_login .join_box .btn_join{ float:right; width:110px; height:90px; line-height:90px; margin-top:0px; text-align:center; }

}


@media all and (min-width:1200px) {

.mem_login{overflow:hidden; background:#ffffff;  border:1px solid #e6e6e6; padding:30px 0px}
.mem_login:before{content:''; width:100%; height:1px; position:absolute; left:0; top:0px; background:#323232; z-index:1}
.mem_login:after{content:''; width:20%; height:1px; position:absolute; left:0; top:0px; background:#617599; z-index:2}


.mem_login .login_box{float:left; width:50%; border:0px;  padding:80px 3%; box-shadow:none; margin:0}
.mem_login .login_box:before{display:none}
.mem_login .login_box:after{position:absolute; width:1px; height:140px; left:auto; right:0; top:60px;  background:#e6e6e6; margin:auto}
.mem_login .join_box{float:left; width:50%; border:0px; margin:0; padding:80px 3%; box-shadow:none; position:relative}
.mem_login .join_box:before{display:none; content:''; position:absolute; width:1px; height:140px; left:auto; left:0; top:60px;  background:#e6e6e6; margin:auto}

.mem_login .sns_box{float:left; width:28%; box-shadow:none; padding:80px 3%; margin:0; padding-bottom:0}
.mem_login .sns_box h4{display:none}
.mem_login.confirm .login_box{float:none; width:100%; max-width:800px; margin:0 auto;}
.mem_login.confirm .login_box:after{display:none}

.mem_login .login_form .btn-login,
.mem_login .join_box .btn_join{width:100px}
.mem_login .join_box p{width:calc(100% - 130px)}
}



@media all and (min-width:1400px) {
.mem_login{padding:50px 40px}
}

/*로그인탑*/

.txt_top{text-align:center;}
.txt_top h3{font-size:1.5em; letter-spacing:-1.5px; font-weight:500; color:#000000}
.txt_top p{font-size:1.1em}



@media all and (min-width:768px) {
.txt_top h3{font-size:2em;}
}

@media all and (min-width:1200px) {
.txt_top p{font-size:1.2em}
}


/*아이디비밀번호찾기*/

.guard_select{background:#ffffff; padding:20px 3%; border:1px solid #e6e6e6;}
.guard_select h4{font-size:1.1em; font-weight:500; margin-bottom:10px;  color:#000000; text-align:center;}
.guard_select .btn_change{text-align:center}
.guard_select  .form_box{margin-top:10px}

.search_result{position:relative; margin:0 auto; max-width:540px; margin-bottom:50px; padding: 30px 5%; overflow: hidden; position:relative; background:#ffffff; text-align:center}



.search_result .result_form ul{overflow:hidden; }
.search_result .result_form ul li{overflow:hidden; margin-bottom:10px;}
.search_result .result_form ul li span.txtin{line-height:45px; height:45px; display:block}
.search_result .result_form ul li span.txtin b{color:#2155ae}
.search_result .result_form ul li:last-child{margin-bottom:0;}
.search_result .result_form ul li label{ display:block; font-weight:500; margin-bottom:5px;}
.search_result .result_form ul li input{width:100%; float:left; line-height:45px; height:45px}
.search_result .result_form .btn-login{background-color:#132f62; height:45px; line-height:45px; width:100%;  display:block; border:0;color:#fff;padding: 0 10px; font-weight:500; font-size:1em; text-align:center; border-radius:5px;}
.search_result .result_form .btn-login2{background-color:#2155ae; height:45px; line-height:45px; width:100%;  display:block; border:0;color:#fff;padding: 0 10px; font-weight:500; font-size:1em; text-align:center; border-radius:5px;}

.search_result .result_form p.tit{font-size:1.1em; text-align:center; padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #e6e6e6}
.search_result .result_form p.tit b{font-weight:500; color:#2155ae}



@media all and (min-width:640px) {
.guard_select{max-width:540px; margin:0 auto; margin-bottom:30px; padding:30px}
.search_result .result_form{padding:50px 80px}
}

@media all and (min-width:1200px) {
.guard_select{max-width:660px;}
.guard_select h4{font-size:1.2em}

.search_result{max-width:660px}
}


/*데이터탑*/
.databox{padding:15px 15px; border:1px solid #e6e6e6; background:#1047a6}
.bgtab{padding:15px 15px; color:#000000; background:#f5f5f5;  overflow:hidden;  border-top:1px solid #617599; border-bottom:0px; font-size:1.1em; letter-spacing:-1px; font-weight:500}
.half{width:50%; float:left; line-height:30px}

.dpi{display:inline-block; vertical-align:top;}
.dpi_li li{display:inline-block; vertical-align:top; padding-right:2px}
.dpi_li li:last-child{padding-right:0}

.datebox{position:relative; text-align:center; margin-bottom:10px; }
.datebox .box{width:48.5%; float:left;}
.datebox .box:after{content:''; display:block; clear:both;}
.datebox .box input,
.datebox .box button{float:left; width:calc(100% - 35px);}
.datebox .box input{padding:0 5px; border-right:0}
.datebox .box button{width:35px; border:0px; background:#64605c; color:#ffffff; padding:0}
.datebox span{float:left; width:3%; line-height:36px;}
.datebox:after{content:''; display:block; clear:both;}

.btn_date{display:inline-block; line-height:35px; height:35px; font-size:0.9em; padding:0 5px; background:#64605c; border-radius:3px; color:#ffffff}
.btn_date.on{background:#132f62}

.srch_table{width:100%;background:#ffffff; border-collapse:collapse; border-top:1px solid #e6e6e6; font-size:0.9em}
.srch_table th{padding:7px 7px; background:#f9f9fa; font-weight:400; color:#000000}
.srch_table th, .srch_table td{border:1px solid #d1d1d3; padding:7px 7px; vertical-align:middle; min-height:28px;}
.srch_table th:first-child {border-left:none;}
.srch_table th:last-child {border-right:none;}
.srch_table td:first-child {border-left:none;}
.srch_table td:last-child {border-right:none;}

.srch_table .dpi_li li a{ line-height:25px; height:25px}

.move_table table{min-width:768px;}
.srch_table th, .srch_table td{padding:12px 7px;}

@media all and (min-width:768px) {

.bgtab{font-size:1.3em}
.datebox{max-width:300px; margin-bottom:0; float:left; margin-right:10px}
.srch_table .dpi_li li a{line-height:35px; height:35px; padding:0 10px}

}

/*확인취소 큰버튼*/
.ok_btn{text-align:center;}
.ok_btn ul li{display:inline-block; vertical-align:top;}
.ok_btn ul li button{background:#2a3954; color:#ffffff; padding:0px 25px; font-size:14px; border:1px solid #2a3954; height:38px}
.ok_btn ul li a{padding:0px 25px; font-size:14px;  background:#505050; color:#ffffff; border:1px solid #505050; line-height:38px; height:38px; display:block; border-radius:3px}


/*대관신청*/
.rentwrap .form_box ul{border-color:#e6e6e6}
.rentwrap .form_box h5{font-size:1.2em; font-weight:600; line-height:45px; color:#000000}
.rentwrap .form_box li .fm_list{font-size:1em;}

.rentwrap .form_box li p.none{color:#808080; padding:30px 0px; position:relative;  text-align:center;}
.rentwrap .form_box li p.none:before{font-family:'FontAwesome'; content:'\f119'; display:block; font-size:50px; color:#c8c8c8}


/*달력날짜선택*/
.calanderbox{position:relative;}
.month_box{text-align:center;  background:#ffffff; border:1px solid #e6e6e6}
.month_box {position:relative;}
.month_box a.mon_btn{display:block; width:45px; height:45px; position:absolute;  top:0; bottom:0; margin:auto; }
.month_box a.btn_mon_prev{left:0; border-right:1px solid #e6e6e6}
.month_box a.btn_mon_next{right:0; border-left:1px solid #e6e6e6}
.month_box a.mon_btn:before{font-family:'FontAwesome'; content:'\f061'; display:inline-block; position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; line-height:45px; right:10%}
.month_box a.btn_mon_prev:before{content:'\f060'; }

.month_box .mon_tit {font-size:1.8em; color:#000000; line-height:45px; font-weight:600; }
.month_box .mon_btn span{display:none}

.cal_table{width:100%; text-align:center; border-bottom:1px solid #e6e6e6}
.cal_table th, .cal_table td{padding:0.5em 0.25em; font-size:1.05em; font-weight:600}
.cal_table td a{display:block; height:45px; line-height:45px; position:relative}
.cal_table td a:before{content:''; display:block; position:absolute; left:0; top:0; bottom:0; right:0; margin:auto; width:30px; height:30px; border-radius:500px;}
.cal_table td a span{position:relative}

.cal_table td a.today:before{border:2px solid #2155ae}
.cal_table td a.end{color:#808080}
.cal_table td a.end:before{background:#f0f0f0}

.cal_table td a.select span{color:#ffffff !important}
.cal_table td a.select:before{background:#1a0182; border:2px solid #1a0182}

.cal_table td a.center:before{background:#d5e1f7}


.cal_table th{padding:0.9em 0.25em; font-weight:500; }
.cal_table td{ vertical-align:middle; text-align:center; position:relative; }

.cal_table th.cDay6{color:#2f99db}
.cal_table .cDay6 .num{color:#2f99db}
.cal_table th.cDay0{color:#ff0707}
.cal_table .cDay0 .num{color:#ff0707; z-index:2; position:relative;}

.calanderbox .cal_date{background:#ffffff; padding:10px; border-bottom:1px solid #e6e6e6}
.calanderbox .cal_date p.none{color:#808080; padding:30px 0px; position:relative;  text-align:center;}
.calanderbox .cal_date p.none:before{font-family:'FontAwesome'; content:'\f118'; display:block; font-size:50px; color:#c8c8c8}

.calanderbox .cal_date .cal_date_list{overflow:hidden; font-size:1.05em; text-align:center}
.calanderbox .cal_date .cal_date_list li{display:inline-block; width:100px; margin:5px 5px 5px;  text-align:center;}
.calanderbox .cal_date .cal_date_list li a{line-height:35px; border:1px solid #e6e6e6; border-radius:500px; display:block; text-align:center}
.calanderbox .cal_date .cal_date_list li a.end{background:#f0f0f0; color:#808080}
.calanderbox .cal_date .cal_date_list li a.select{background:#1a0182; color:#ffffff; border:1px solid #1a0182; }

@media all and (min-width:870px) {
.rentwrap{background:#f9f9fa; padding:10px}
.rentwrap .form_box{background:#ffffff; border:1px solid #e6e6e6; border-bottom:0px}
.rentwrap .form_box h5{padding:0 1em; }

.rentwrap > .left{width: 350px; float:left; margin-right:2%}
.rentwrap > .right{width:calc(98% - 350px); float:left;}
.rentwrap:after{content:''; display:block; clear:both}

.calanderbox{border:1px solid #e6e6e6; }
.calanderbox .month_box{border:0px; border-bottom:1px solid #e6e6e6}
.calanderbox .cal_date{border-bottom:0px}

}



@media all and (min-width:1200px) {
.rentwrap .form_box li .fm_list,
.rentwrap .form_box li .fm_txt{font-size:0.9em}
}

@media all and (min-width:1400px) {
.rentwrap{padding:20px}
.rentwrap > .left{width: 450px;}
.rentwrap > .right{width:calc(98% - 450px);}
.calanderbox .cal_date .cal_date_list{text-align:left; max-width:370px; margin:0 auto}
.rentwrap .form_box li .fm_list,
.rentwrap .form_box li .fm_txt{font-size:1em}

}




/*대관가능장소*/

.select_li{overflow:hidden;  position:relative; border:0px !important;}
.select_li li span.tit{font-weight:500; font-size:1.2em; margin-bottom:10px}
.select_li li img{max-width:120px;}

.select_li li {width:49%; float:left; border:0px; margin-bottom:5px; margin-right:1%}

.select_li li:nth-child(3){clear:both}
.select_li li:nth-child(5){clear:both}
.select_li li.long{width:99%; clear:both; border-bottom:0px !important}

.fullcheck > label{border:1px solid #e6e6e6}


.fullcheck{position:relative;}
.fullcheck > input{position:absolute;left:0;top:0;opacity:0;width:0;height:0}
.fullcheck > label{padding:10px 10px 10px 50px;display:block; color:#1c1c1c; position:relative; z-index:1; cursor:pointer}
.fullcheck > label:before{width:25px; height:25px; border-radius:500px; content:''; display:inline-block; position:absolute; left:10px; top:0px; bottom:0; margin:auto; background-repeat:no-repeat;background-position:left; background-image:url('../img/check.png');background-size:25px 50px;cursor:pointer; background-position:0 0}
.fullcheck > input:checked + label:before{background-position:left -25px;}
.fullcheck > input:checked + label{background:#f9f9fa; border:2px solid #1a0182; box-sizing:border-box}
.fullcheck > input:checked + label dt{color:#1a0182}

.fullcheck dt{font-size:1.1em; font-weight:500; color:#000000; }
.select_li li.fullcheck dd{background:url("../img/dot_li.gif") no-repeat 0px 10px; padding-left:5px; }

@media all and (min-width:768px) {
.select_li li {width:32.33%; float:left;  margin-bottom:5px; margin-right:1%}
.select_li li:nth-child(4){clear:both}
.select_li li:nth-child(3){clear:none}
.select_li li:nth-child(5){clear:none}

.fullcheck dd{font-size:0.9em}

}

@media all and (min-width:870px) {
.select_li li {width:49%;}
.select_li li:nth-child(4){clear:none}
.select_li li:nth-child(3){clear:both}
.select_li li:nth-child(5){clear:both}
}

/*이용동의전문보기*/
.agree_warp{position:relative}
.agree_warp .agree_check{position:relative; background:#ffffff}
.agree_warp .agree_check:first-child{border-bottom:0px; border-top:0px}
.agree_warp .agree_check .txt_info{display:inline-block; position:absolute; font-size:0.9em; color:#ffffff; padding:0px 10px; background:#2155ae; line-height:30px; height:30px; right:10px; top:0; bottom:0; margin:auto;}

.mentoring_write .agree_warp ul{background:#ffffff;  padding:10px; border:1px solid #dddddd !Important; border-bottom:0px !important}
.mentoring_write .agree_warp ul li{border:0px !Important;}
.mentoring_write .agree_warp ul li:before{display:none !Important}

/*대관신청확인*/


.chek_reservation{position:relative; border:1px solid #e6e6e6; border-top:1px solid #323232; padding:30px 20px; overflow:hidden}
.chek_reservation .chek_reser{position:relative; max-width:350px; margin:0 auto; padding-top:100px}
.chek_reservation .chek_reser:before{content:''; display:block; width:90px; height:90px; background-size:100% !important; background:url(../img/ic_reservation.png) no-repeat center center; position:absolute; top:0; left:0; right:0; margin:auto; }
.chek_reservation .chek_reser .btn_chek{display:block; width:100%; padding:0; line-height:45px; height:45px; background:#1a42b2;  color:#ffffff;border: 0; font-size: 1em;font-weight: normal;}

.chek_reservation .chek_reser li{margin-bottom:5px; }
.chek_reservation .chek_reser:after,
.chek_reservation .chek_reser li:after{content:''; display:block; clear:both;}
.chek_reservation .chek_reser li{margin-bottom:5px; }
.chek_reservation .chek_reser li label{width:80px; float:left; line-height:45px; font-weight:500; color:#000000}
.chek_reservation .chek_reser li input,
.chek_reservation .chek_reser li button{line-height:45px; height:45px; width:100% }
.chek_reservation .chek_reser li .inbox{width: calc(100% - 80px); float:left; }
.chek_reservation .chek_reser li .inbox{position:relative}
.chek_reservation .chek_reser li .inbox button{width:45px; text-indent:-999999px; position:relative; background:#1a42b2; border-color:#1a42b2; position:absolute; right:0; top:0; bottom:0;}
.chek_reservation .chek_reser li .inbox button:before{display:block; position:absolute; text-indent:0; width:45px; text-align:center; line-height: 45px;height: 45px;margin: 0;left: 0; color:#ffffff }


@media all and (min-width:768px) {
.chek_reservation{padding:50px;}
.chek_reservation .chek_reser{padding:0; padding-left:150px; max-width:700px; position:relative; overflow:hidden;}
.chek_reservation .chek_reser:before{right:auto; bottom:0; left:0;}
.chek_reservation .chek_reser ul{float:left; width:calc(100% - 180px); margin:0 !important}
.chek_reservation .chek_reser .btn_chek{float:right; width:145px; line-height:145px; height:145px; border-radius:5px}
}

.acdForm{border:1px solid #e6e6e6; border-top:1px solid #323232; position:relative}
.acdForm h5{position:relative}
.acdForm h5:after{font-family:'FontAwesome'; content:'\f002'; color:#000000; font-size:1.3em; position:absolute; width:30px; height:30px; line-height:30px; right:0; top:0; bottom:0; margin:auto}
.acdForm h5 span.prs{display:inline-block; padding:2px 0px; width:60px; text-align:center; border:1px solid #505050; color:#505050; font-size:0.95em; margin:0}
.acdForm h5 span.tit{color:#000000; font-size:1.1em; display:block;}
.acdForm h5 span.prs.no{background:#c00000; border:1px solid #c00000; color:#ffffff}
.acdForm h5 span.prs.ok{background:#ff8300; border:1px solid #ff8300; color:#ffffff}
.acdForm h5 span.prs.end{background:#808080; border:1px solid #808080; color:#ffffff}
.acdCon table{background:#ffffff}

.acdForm .btn_sumit{height:45px; line-height:45px; padding:0 20px}





/*일자리상담*/

.jobcounsel .form_box ul{border-color:#e6e6e6}
.jobcounsel .form_box h5{font-size:1.2em; font-weight:600; line-height:45px; color:#000000}
.jobcounsel .form_box li .fm_list{font-size:1em;}

.jobcounsel .form_box li p.none{color:#808080; padding:30px 0px; position:relative;  text-align:center;}
.jobcounsel .form_box li p.none:before{font-family:'FontAwesome'; content:'\f119'; display:block; font-size:50px; color:#c8c8c8}


.jobcounsel .fullcheck > label{padding:60px 0px 20px; text-align:center;}
.jobcounsel .fullcheck > label:before{bottom:auto; left:10px; top:10px;}
.jobcounsel .select_li li.fullcheck dd{padding-left:0; background:none}

.jobcounsel .select_li li:before{content:''; display:block; width:45px; height:45px; position:absolute; left:0; top:10px; right:0px; margin:auto; background-size:100% !important; z-index:5}
.jobcounsel .select_li li.job_counsel01:before{background:url(../img/ic_counsel01.png) no-repeat center center}
.jobcounsel .select_li li.job_counsel02:before{background:url(../img/ic_counsel02.png) no-repeat center center}


.jobcounsel .form_box li .fm_txt input.date_in{max-width:150px;}
.jobcounsel .form_box li .fm_txt select{line-height:45px; height:45px}
.jobcounsel .form_box li .fm_txt button.btn_cal{background:#1a42b2; border:0px; color:#ffffff}
.jobcounsel .form_box li .fm_txt button.btn_cal:before{color:#ffffff; margin-right:3px}

.jobcounsel .form_box li .fm_txt input.abauto{display:inline-block; vertical-align:middle; width:auto}

.jobcounsel .agree_warp .agree_check:first-child{border-bottom:1px solid #e6e6e6}

.jobcounsel .filebox label.file_label{line-height:45px}

@media all and (min-width:870px) {
.jobcounsel{background:#f9f9fa; padding:10px}
.jobcounsel .form_box{background:#ffffff; border:1px solid #e6e6e6; border-bottom:0px}
.jobcounsel .form_box h5{padding:0 1em; }

.jobcounsel:after{content:''; display:block; clear:both}

.jobcounsel .select_li li.fullcheck dt{font-size:1.2em}
.jobcounsel .select_li li.fullcheck dd{font-size:1.1em}
}



@media all and (min-width:1200px) {
.jobcounsel .form_box li .fm_list,
.jobcounsel .form_box li .fm_txt{font-size:0.9em}
.jobcounsel .select_li li:before{width:60px; height:60px;}
.jobcounsel .fullcheck > label{padding:80px 0px 20px}
}

@media all and (min-width:1400px) {
.jobcounsel{padding:20px}
.jobcounsel .form_box li .fm_list,
.jobcounsel .form_box li .fm_txt{font-size:1em}

}




/*멘토링글쓰기*/
.mentoring_write:after{content:''; display:block; clear:both;}
.mentoring_write h5{font-size:1.2em; font-weight:600; line-height:45px; color:#000000}

.mentoring_write .form_box li .fm_txt .date_input{margin-bottom:5px}
.mentoring_write .form_box.left ul{margin-bottom:0 !important}
.mentoring_write .form_box.right ul{border-top:0 !important; }
.mentoring_write .form_box li .fm_txt .date_input:after{content:''; clear:both; display:block}
.mentoring_write .form_box li .fm_txt .date_input input.date_in{ float:left; width:calc(100% - 100px);}
.mentoring_write .form_box li .fm_txt .date_input button.btn_cal{width:100px; float:left; background:#1a42b2; border:0px; color:#ffffff}
.mentoring_write .form_box li .fm_txt .date_input button.btn_cal:before{color:#ffffff; margin-right:3px}

.mentoring_write .form_box li .fm_txt .time_select{position:relative}
.mentoring_write .form_box li .fm_txt .time_select span{display:block; width:4%; text-align:center; float:left; line-height:45px;}
.mentoring_write .form_box li .fm_txt .time_select select{float:left; width:48%; line-height:45px; height:45px}
.mentoring_write .form_box li .fm_txt .time_select select.time_last{float:right;}
.mentoring_write .form_box li .fm_txt .time_select:after{content:''; clear:both; display:block}

.mentoring_write .write_apply li .fm_txt .input_txt.mt5{margin-top:5px}
.mentoring_write .write_apply{clear:both; background:#ffffff}

.mentoring_write  .agree_warp .agree_check:first-child{border-bottom:1px solid #e6e6e6}

@media all and (min-width:768px) {
.mentoring_write .form_box li .fm_txt select.mentor_type_select{width:40%; float:left; margin-right:2%}
.mentoring_write .form_box li .fm_txt:after{content:''; display:block; clear:both; }
.mentoring_write .form_box li input.busi_type_in{width:100%; }
}

@media all and (min-width:1024px) {
.mentoring_write{background:#f8f8f8; border:1px solid #e6e6e6; padding-top:0;}
.mentoring_write h5{border-bottom:1px solid #e6e6e6; background:#ffffff; padding:0 10px;}

.mentoring_write .form_box li .btn_change .radio_label{min-width:75px; padding:0 5px}
.mentoring_write .form_box ul{border-bottom:0px; border-top:0; background:#ffffff; margin-bottom:0 !important}
.mentoring_write .form_box.right ul{min-height:245px}
.mentoring_write .left{width: calc(40% - 10px); float:left; background:#ffffff; margin:10px 0px 10px 10px; border:1px solid #e6e6e6; border-bottom:0}
.mentoring_write .right{width: calc(60% - 20px); float:left; background:#ffffff; margin:10px; border:1px solid #e6e6e6; border-bottom:0}


.mentoring_write .form_box li .fm_txt .date_input{float:left; width:40%; }
.mentoring_write .form_box li .fm_txt .time_select{float:left; width:60%; padding-left:10px}
.mentoring_write .form_box li .fm_txt .date_input button.btn_cal{text-indent:-999999px; width:50px; text-align:center; position:relative}
.mentoring_write .form_box li .fm_txt .date_input button.btn_cal:before{text-indent:0; position:absolute; left:0; right:0; }
.mentoring_write .form_box li .fm_txt .date_input input.date_in{width:calc(100% - 50px)}

.mentoring_write .write_apply{padding:10px; background:#f8f8f8}
.mentoring_write .write_apply ul{background:#ffffff; border:1px solid #e6e6e6; border-top:1px solid #323232; border-bottom:0px;}
}


@media all and (min-width:1200px) {
.mentoring_write .form_box li .fm_txt .date_input{width:45%; }
.mentoring_write .form_box li .fm_txt .time_select{width:55%}

.mentoring_write .form_box li .fm_txt,
.mentoring_write .form_box li .fm_list{padding:0.5em}
.mentoring_write .form_box li .fm_list{padding-right:0}
}

@media all and (min-width:1400px) {
.mentoring_write .form_box li .fm_txt,
.mentoring_write .form_box li .fm_list{padding:0.5em 1em}

}
.board_anwser ul.board_ul{overflow:hidden; border-top:1px solid #323232; margin-bottom:30px; }
.board_anwser ul.board_ul li{padding:15px 10px; border-bottom:1px solid #dcdcdc; overflow:hidden}
.board_anwser ul.board_ul li.title_li{display:none}
.board_anwser ul.board_ul li:hover{background:#f9f9fa}
.board_anwser ul.board_ul li .select_btn{width:30px; float:left; line-height:25px}
.board_anwser ul.board_ul li .select_btn input{line-height:25px; height:25px}
.board_anwser ul.board_ul li .title,
.board_anwser ul.board_ul li .notice,
.board_anwser ul.board_ul li .category,
.board_anwser ul.board_ul li .num{display:inline-block; vertical-align:middle}
.board_anwser ul.board_ul li .num{width:35px; text-align:left; color:#808080; font-size:0.9em}
.board_anwser ul.board_ul li .notice,
.board_anwser ul.board_ul li .category{margin-right:10px; font-size:0.9em}
.board_anwser ul.board_ul li .notice{color:#004ea2}

.board_anwser ul.board_ul li h5{font-size:1.1em; margin-bottom:5px;}
.board_anwser ul.board_ul li h5 a{display:block;}
.board_anwser ul.board_ul li h5 a .title{width:calc(100% - 35px); display:inline-block;  text-overflow:ellipsis; overflow:hidden; white-space:nowrap; vertical-align:middle; position:relative}
.board_anwser.secret_anwser ul.board_ul li h5 a .title:before{font-family:'FontAwesome'; content:'\f023'; color:#808080; font-size:13px; margin-right:5px}
.board_anwser.secret_anwser ul.board_ul li.title_li h5 a .title:before{display:none}
.board_anwser ul.board_ul li.notice_txt h5 a .title:before{display:none}

.board_anwser ul.board_ul li h5 a .title.link_page:after{content:''; display:inline-block; width:15px; height:15px; margin-left:5px; background:url(../img/ic_link.png) no-repeat center center; background-size:100% !important; opacity:0.5}
.board_anwser ul.board_ul li h5 .aw_status{display:inline-block;}
.board_anwser ul.board_ul li h5 a .title .cate{color:#2155ae}
.board_anwser .boardInfo {overflow:hidden;}
.board_anwser .boardInfo .name,
.board_anwser .boardInfo .date{display:inline-block; color:#808080; margin-right:10px; padding-right:10px; position:relative;}
.board_anwser .boardInfo .date{margin:0; padding:0}
.board_anwser .boardInfo .name b{display:inline-block; font-size:10px; background:#e800ae; color:#ffffff; padding:2px 3px; margin-right:3px; line-height:100%; margin-bottom:4px; vertical-align:middle}
.board_anwser .boardInfo span:before{content:''; position:absolute; width:1px; height:12px; background:#dcdcdc; right:0; top:0; bottom:0; margin:auto;}
.board_anwser .boardInfo .date:before{display:none}
.board_anwser .boardInfo .date{margin-right:10px; padding-right:10px}
.board_anwser .boardInfo .aw_status b{display:inline-block;  font-weight:normal;  font-size:0.9em; width:60px; text-align:center; }
.board_anwser .boardInfo .aw_status.s01 b{border:1px solid #808080; color:#808080}
.board_anwser .boardInfo .aw_status.s02 b{border:1px solid #006fba; background:#006fba; color:#ffffff; }
.board_anwser .boardInfo .aw_status.s03 b{border:1px solid #ff960f;  background:#ff960f; color:#ffffff}
.board_anwser .boardInfo .aw_status.s04 b{border:1px solid #1a42b2; background:#1a42b2; color:#ffffff}
.board_anwser .boardInfo .aw_status.s05 b{border:1px solid #1a0182;  color:#1a0182}

.board_anwser ul.board_ul li h5 ,
.board_anwser .boardInfo{line-height:25px;}
.board_anwser .boardInfo{text-align:right}

@media all and (min-width:768px) {
.board_anwser ul.board_ul{margin-bottom:50px; }
.board_anwser ul.board_ul li{padding:22px 15px}
.board_anwser ul.board_ul li h5{width:calc(60% - 30px); float:left; margin-bottom:0}

.board_anwser ul.board_ul li.title_li{display:block; text-align:center; font-weight:500; background:#f9f9fa; color:#323232 !important; padding:20px 15px}
.board_anwser ul.board_ul li .board_h5{width:calc(60% - 30px); float:left; margin-bottom:0; }
.board_anwser ul.board_ul li .board_h5 .select_btn{float:left;}
.board_anwser ul.board_ul li.title_li .date{text-align:center;  color:#323232}
.board_anwser ul.board_ul li.title_li .name{color:#323232}

.board_anwser .boardInfo{width:40%; float:right; text-align:right}
.board_anwser .boardInfo .name,
.board_anwser .boardInfo .date,
.board_anwser .boardInfo .aw_status{display:block; width:33.33%; float:left; text-align:center; margin:0; padding:0; border:0; min-height:1px}
.board_anwser .boardInfo .aw_status b{padding:3px 0px; }
.board_anwser .boardInfo span:before{display:none}

}

@media all and (min-width:1200px) {

.board_anwser ul.board_ul li h5{width:calc(70% - 30px);}
.board_anwser ul.board_ul li .board_h5{width:calc(70% - 30px);}
.board_anwser .boardInfo{width:30%}
.board_anwser .boardInfo .aw_status b{font-size:0.8em}
}

/*뷰*/
.board_anwser h4 .cmt{display:inline-block; font-size:13px; padding:3px 5px; }
.board_anwser h4 .cmt.cmt01{border:1px solid #808080; color:#808080}
.board_anwser h4 .cmt.cmt02{border:1px solid #006fba; background:#006fba; color:#ffffff; }
.board_anwser h4 .cmt.cmt03{border:1px solid #ff960f;  background:#ff960f; color:#ffffff}
.board_anwser h4 .cmt.cmt04{border:1px solid #1a42b2; background:#1a42b2; color:#ffffff}
.board_anwser h4 .cmt.cmt05{border:1px solid #1a0182;  color:#1a0182}

.board_anwser h4 .cate{color:#2155ae; display:inline-block; font-size:15px;  padding:3px 5px;}

.board_anwser h4 span{margin-right:5px; vertical-align:middle;}
.board_anwser h4 .tit_tt{display:block;}


.board_comment {display:block; width:100%; border-collapse:collapse; border-top:1px solid #d7d7d7; padding:20px 15px; background:#f9f9fa}
.board_comment .comment_top{margin-bottom:10px; overflow:hidden}
.board_comment .comment_top .tit{font-weight:500; color:#2155ae; }
.board_comment .comment_top .tit span{font-weight:normal; font-size:0.9em; margin-left:10px; padding-left:10px; color:#969696}
.board_comment .comment_top ul{text-align:right; }
.board_comment .comment_top ul li{display:inline-block; vertical-align:middle;}
.board_comment .comment_top ul li a{display:block; padding:5px 7px; border-radius:3px; background:#8494b0; color:#ffffff; font-size:0.9em}
.board_comment .comment_top ul li a.btn_edit{background:#2155ae}

.board_comment .comment_box {display:block; overflow:hidden}
.board_comment .comment_box textarea{margin-bottom:10px;  resize: vertical; height:15em}
.board_comment .comment_box button{display:block; border:0px; background:#2155ae; border-radius:3px; color:#ffffff; display:block; min-width:140px}


@media all and (min-width:768px) {
.board_comment .comment_top .tit{float:left; width:50%; line-height:30px}
.board_comment .comment_top ul{float:left; width:50%;}

}


.mentoring_info table{}
.mentoring_info table{width:100%;  border-collapse:separate; font-size:0.95em;}
.mentoring_info table th, .mentoring_info table td{border-bottom:1px solid #dcdcdc; padding:15px 3px; vertical-align:middle}
.mentoring_info table th{font-weight:400; background:#f9f9fa; color:#000000}
.mentoring_info table td.bgc{background:#fcfcfc; font-weight:400; color:#000000}
.mentoring_info table td.bdr{border-right:1px solid #e6e6e6}


@media all and (min-width:768px) {
.mentoring_info table{font-size:1em;}
.mentoring_info table th, .mentoring_info table td{padding:15px 10px}

}


/*설문조사*/
.survey_pop{text-align:left;}
.survey_pop p.tit{font-size:1em}

.sur_check{overflow:hidden;  position:relative; border:0px !important;}
.sur_check li > label{}

.survey_chart{border:4px solid #f8f8f8; padding:10px}
.survey_chart .box{margin-bottom:15px; padding-bottom:15px; border-bottom:1px dashed #e6e6e6}
.survey_chart .box:last-child{margin-bottom:0px; padding-bottom:0; border-bottom:0}

.survey_chart .box h2{font-weight:500; color:#000000; margin-bottom:10px}
.survey_chart .box h2 b{display:inline-block; width:25px; height:20px; line-height:20px; margin-right:5px; text-align:center; background:#1a0182; color:#ffffff; vertical-align:middle}

.sur_check li{position:relative; margin-bottom:5px;}
.sur_check li:last-child{margin-bottom:0px;}

.sur_check li > input{position:absolute;left:0;top:0;opacity:0;width:0;height:0}
.sur_check li > label{padding-left:30px; display:block; color:#1c1c1c; position:relative; z-index:1; cursor:pointer}
.sur_check li > label:before{width:20px; height:20px; border-radius:500px; content:''; display:inline-block; position:absolute; left:0px; top:0px; bottom:0; margin:auto; background-repeat:no-repeat;background-position:left; background-image:url('../img/check.png');background-size:20px 40px;cursor:pointer; background-position:0 0}
.sur_check li > input:checked + label:before{background-position:left -20px;}
.sur_check li > input:checked + label{font-weight:600; color:#1a0182; border-bottom:2px solid #2450ce}


@media all and (min-width:620px) {

.sur_check li{float:left; width:16.66%; margin:0 1%}
.sur_check:after{clear:both}

.sur_check li:first-child,
.sur_check li:last-child{width:21%;}
.sur_check li:first-child{margin-left:0}
.sur_check li:last-child{margin-right:0}
}


@media all and (min-width:1200px) {
.survey_chart{padding:30px}

.survey_chart .box{padding-bottom:20px; margin-bottom:20px}
.survey_chart .box h2{margin-bottom:20px}
}

/*설문조사표*/
.view_survey{border:1px solid #e6e6e6}
.view_survey .survey_top{padding:15px 10px; background:#2155ae; color:#ffffff; position:relative; overflow:hidden;}
.view_survey .survey_top h1{ font-size:1.2em;}
.view_survey .survey_top p{font-size:1.1em;}
.view_survey .survey_top p b{font-size:1.4em}
.view_survey .mentoring_info{border-top:1px solid #323232;}
.view_survey .survey_pop{padding:15px 10px}
.btn_rd{display:inline-block; padding:10px 20px; background:#1a42b2; border-radius:500px; color:#ffffff }
.btn_big{font-size:1.1em}

.view_survey .readybox p{text-align:center; font-size:1.2em}


@media all and (min-width:768px) {

.view_survey .survey_top h1{float:left; font-size:1.4em; line-height:35px;}
.view_survey .survey_top p{float:right; line-height:35px;}
.view_survey .survey_top p{font-size:1.2em;}
.view_survey .survey_pop{padding:30px 20px}
.view_survey .mentoring_info{font-size:1.1em}
}

@media all and (min-width:1200px) {
.btn_big{padding:17px 40px}
}